<ngx-loading [show]="loading" ></ngx-loading>
<div class="introduccion">
  <h2 class="titulo-principal color-azulmenta">
    <span class="logo-auto">
        <svg class="icono_recomendacoes" viewBox="0 0 21 22.2">
            <use xlink:href="assets/images/sprites.svg#icono_recomendacoes"></use>
        </svg>
    </span>
    Orientações para o Clube
  </h2>
</div>
<div class="autodiagnostico-cuestionario"  *ngIf="!empty && !loading">
  <h4 class="titulo-terciario color-azulauxiliar centro"> {{title}}</h4>
  <div class="row" *ngFor="let item of section; let i = index">
    <div class="grupo recommendation">
        <form action="">
            <div class="pregunta pieza">
                <span class="numeral">{{i+1}}</span>
                <p class="parrafo color-azulprofundo izquierdo">
                    {{ item.question }}
                </p>
            </div>
            <ol class="opciones" type="A" [start]="item.color">
                <div class="pieza pieza-auxiliar">
                    <li class="col-xs-12">
                        <div class="col-sm-10">
                            <span class="parrafo color-negro parrafo">{{item.answer}}</span>
                        </div>
                        <div class="col-sm-2">
                            <div class="recomendacion-practica" [ngClass]="{insatisfactoria: item.color==1, naorecomendada: item.color==2, seraprimorada: item.color==3, boa: item.color==4}">{{item.name}}</div>
                        </div>
                    </li>
                </div>
              </ol>
            </form>
      </div>
      <div>
        <div class="btn-recomendacion center-block">
            <a [attr.data-target]="'#rec-'+i" data-toggle="collapse">Veja Recomendação  <svg class="flecha-abajo" viewBox="0 0 8 4"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprites.svg#flecha-abajo"></use></svg></a>
        </div>
      </div>
      <div class="recomendacion collapse fondo-amarillopastel justificado" [id]="'rec-'+i">
          <h2 class="titulo-secundario color-azulmedio">RECOMENDAÇÃO:</h2>
          <p class="color-azuloscuro parrafo">{{item.rtitle}}</p>
          <p class="color-negro parrafo">{{item.recommendation}}</p>
          <p class="color-azulauxiliar parrafo">Consulte o <a [href]="api+item.guide"  class="color-magenta">guia de recomendações</a> para mais informações, referências e dicas sobre como fazer.</p>
      </div>
  </div>
  


  <div class="controles">
    <h4 class="titulo-terciario centro color-grismedio">veja outros tópicos</h4>
    <div class="numeros">
      <ng-pagination [(ngModel)]="currentPage" [boundaryLinks]="true" (pageChanged)="pageChanged($event)"></ng-pagination>
    </div>
  </div>
</div>

<div *ngIf="empty && !loading">

    <h4 class="titulo-terciario color-azulauxiliar centro" >Você ainda não tem recomendações, complete a auto-avaliação</h4>

</div>