<div class="general admin-programa" *ngIf="content?.title">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenido">
        <div class="introduccion row">
            <h2 class="titulo-principal color-azulmenta">
                <span class="logo-auto">
                    <svg class="icono_programa azule" viewBox="0 0 38 38">
                        <use xlink:href="assets/images/sprites.svg#icono-balon"></use>
                    </svg>
                </span>
                <inline-editor type="text" [(ngModel)]="content.title" (onSave)="saveContent()"  name="content.title" size="45"></inline-editor>
            </h2>
            <div class="feditor">
                <!-- <div [froalaEditor]="edConfig" [(ngModel)]='content.body'>Hello, Froala!</div> -->
                <app-ngx-editor [(ngModel)]="content.body"  name="body" size="135"></app-ngx-editor>

                <input type="hidden" [(ngModel)]='content.id' id="idContent" />
                <br>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 final">
                    <a class="magenta_btn" (click)=saveContent()>SALVAR</a>
                </div>
            </div>
 
        </div>
        
        <div class="row">
            <div class="listado-desplegables col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="cada-lista" *ngFor="let step of steps ; let i = index" >
                <div class="content-desple">
                    <div *ngIf="step.type == 'video'; else text">
                            <div class="item-desplegable">
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 interna">
                                    <div class="titulo-terciario color-azulultimo mayusculas">
                                        Video
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <a class="vinculo derecha" data-toggle="collapse" href="#section-{{i}}" (click)="changeCollapse(ind, i)">
                                            <span id="flecha-{{i}}--{{ind}}" class="flecha arriba">
                                                <svg class="flecha-abajo" viewBox="0 0 8 5">
                                                    <use xlink:href="/assets/images/sprites.svg#flecha-abajo"></use>
                                                </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div id="section-{{i}}" class="collapse" >
                                <div class="panel-body">
                                    <inline-editor type="text" [(ngModel)]="step.title" (onSave)="saveAnswEditableCustom(step)"  name="item" size="45"></inline-editor>
                                    <div class="video-body">
                                        <video width="100%" height="auto" controls>
                                           <source *ngIf="step.action != 'deleted'" src="{{ urlApi }}{{ step.value }}" type="video/mp4">
                                        </video>
                                        <input (change)="handleVideo($event, i + 1 , step)" type="file" name="file-{{ i + 1 }}" id="guide-{{ i + 1 }}" #file/>
                                        <div class="dropzone">
                                        </div>
                                        <div class="menu-editar estatico">
                                            <a title="Alterar" (click)="file.click()" class="boton-editar mover"><svg class="boton-vector"><use xlink:href="assets/images/sprites.svg#boton-actualizar"></use></svg></a>
                                            <a title="Excluir" (click)="showSureVideo(step.id)" class="boton-editar eliminar"><svg class="boton-vector"><use xlink:href="assets/images/sprites.svg#boton-eliminar"></use></svg></a>
                                        </div>   
                                    </div>
                                                                
                                </div>
                            </div> 
                    </div>
                    <ng-template #text>
                            <div class="item-desplegable">
                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 interna">
                                        <div class="titulo-terciario">
                                            <inline-editor type="text" [(ngModel)]="step.title" (onSave)="saveAnswEditableCustom(step)"  name="item" size="45"></inline-editor>
                                        </div>
                                    </div>
                                   
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <a class="vinculo derecha" data-toggle="collapse" href="#section-{{i}}" (click)="changeCollapse(ind, i)">
                                            <span class="flecha arrida">
                                                <svg class="flecha-abajo" viewBox="0 0 8 4">
                                                    <use xlink:href="/assets/images/sprites.svg#flecha-abajo"></use>
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div id="section-{{i}}" class="collapse" >
                                    <div class="panel-body">
                                        <app-ngx-editor type="textarea" [(ngModel)]="step.value" (onSave)="saveAnswEditableCustom(step)"  name="item" size="45"></app-ngx-editor>
                                        <a title="Excluir" (click)="deleteContentIssue(step.id)" class="boton-editar eliminar"><svg class="boton-vector"><use xlink:href="assets/images/sprites.svg#boton-eliminar"></use></svg></a>
                                    </div>
                                </div>  
                    </ng-template>
                </div>
            </div>
        </div>
        </div>

        <div class="row addtheme">
            <div class="well col-xs-12">
                <h2 class="titulo-principal color-azulmenta text-center">Adicionar Tema</h2>
                <br>
                <form id="form-ri" class="formulario-registro" (ngSubmit)="f.form.valid && save()" #f="ngForm">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input class="form-control fondo-azulpastel" type="text" name="title" required="{{ required.title }}" placeholder="Título" [(ngModel)]="programForm.title" #title="ngModel">
                        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                            <div *ngIf="title.errors.required">o título é obrigatório</div>
                        </div>
                    </div> 
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <app-ngx-editor name="value" required="{{ required.value }}" placeholder="Texto" [(ngModel)]="programForm.value" #value="ngModel" size="135"></app-ngx-editor>
                        <div *ngIf="value.invalid && (value.dirty || value.touched)" class="alert alert-danger">
                            <div *ngIf="value.errors.required">é necessário um texto.</div>
                        </div>
                    </div> 
                    <button type="submit" [disabled]="!f.form.valid" class="boton-vacio-magenta">adicionar tema <span class="flechita"><svg class="flechita-abajo" viewBox="0 0 4 8"><use xlink:href="/assets/images/sprites.svg#flecha-derecha"></use></svg></span></button>
                </form>
            </div>
            
        </div> 
        
    </div>
</div>