<div (mouseenter)='mouseActionEnter($event)' (mouseleave)='mouseActionLeave($event)' class="action-circle action-circle-s">
	<div class="content-d">
		<div>Para visualizar esta secção exige que estão inscritos no programa.</div>
		<a data-toggle="modal" href="#inscripcion">Você está interessado no programa?</a>
	</div>
</div>
<div class="conta">

<div class="container-fluid franja-conta">
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" >
      <div class="contenedor-escudo" *ngIf="club">
          <img *ngIf="club.logo == 'https://joguelimpojoguebem.com.br/api/'" src="assets/images/generales/escudo.svg">

          <img *ngIf="club.logo != 'https://joguelimpojoguebem.com.br/api/'" src="{{club.logo}}" class="img-circle"  style=" width: 100px; height: 100px;">

      </div>
      <div class="bienvenida-club" *ngIf="club" >
        <p class="color-azulvioleta">Bem-vindo</p>
        <p class="color-magenta">{{club.name}}</p>
        <a [routerLink]="['/edit_profile']" class="color-magenta ubicar">Editar Cadastro</a>
        
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">

      <div class="row">

        <div class="menu-circular">
          <ng-container *ngFor="let item of [0,1,2,3,4,5]" >
            <div id="menu-item-{{item}}" class="menu-item-{{item+1}} menu-action-j menu-action-s" >
              <svg  viewBox="0 0 124.58 166.34" class="vinculos-s vinculo-{item+1}}">
                <use xlink:href="assets/images/sprites.svg#fragmento-4" (click)="navigate(copies[item].action)" ></use>
              </svg>

              <a [routerLink]="[copies[item].action]" (mouseenter)='mouseEnter($event)' (mouseleave)='mouseLeave($event)' [attr.data-pos]="item" [attr.data-x]="circle[item].x" [attr.data-y]="circle[item].y"  [attr.data-text]="copies[item].text" 
              [attr.data-button]="copies[item].btn"
               [attr.data-action]="copies[item].action" [href]="circle[item].action" > 
                <img src="assets/images/menumove/{{item+1}}.png" /><span>{{circle[item].name}}</span> 
              </a>
            </div>
                
            </ng-container>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>

      </div>

    </div>
  </div>
</div>
 </div>

<app-contact></app-contact>
