<!-- INSCRIPCIONES -->

<ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(255,255,255,1)' }"></ngx-loading>
<div id="inscripcion" class="modal fade" role="dialog">
    <div class="modal-dialog dialogo-mini">
      <div class="modal-content dialogo">
        <div class="modal-header">
          <button type="button" class="close boton-cerrar" #closeBtn data-dismiss="modal"><img src="assets/images/generales/boton-cerrar.svg" alt=""></button>
        </div>
        <div class="modal-body"> 
      <div class="espaciador-15">
        <p class="parrafo-modal centro">Por favor preencha os dados abaixo. Nós </p>
         <p class="parrafo-modal centro">entraremos em contato o mais breve possível.</p>
      </div>
      <form class="formulario-modal" (ngSubmit)="f.form.valid && send()" #f="ngForm">

        <div class="form-group ">
            <div class="tablero fondo-verdepastel">Nome do Clube ou Instituição Esportiva é necessário.</div>
          <input id="titleCl" type="text" name="nombre" required [(ngModel)]="contactform.club" #club="ngModel" class="form-control fondo-verdepastel" onblur="this.placeholder = this.value ? '' : 'Nome do Clube ou Instituição Esportiva'" onfocus="this.placeholder=''" placeholder="Nome do Clube ou Instituição Esportiva">
          <div *ngIf="club.invalid && (club.dirty || club.touched)" class="alert alert-danger">
            <div *ngIf="club.errors.required">
                Nome do Clube ou Instituição Esportiva é necessário.
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" name="contacto" [(ngModel)]="contactform.contact"  required #contact="ngModel" class="form-control" onblur="this.placeholder = this.value ? '' : 'Pessoa de Contato'" onfocus="this.placeholder=''"  placeholder="Pessoa de Contato">
            <div *ngIf="contact.invalid && (contact.dirty || contact.touched)" class="alert alert-danger">
              <div *ngIf="contact.errors.required">
                  Pessoa de Contato é necessário
              </div>
            </div>
        </div>
        <div class="form-group">
          <input type="text" name="cargo" [(ngModel)]="contactform.role" #role="ngModel" required class="form-control" onblur="this.placeholder = this.value ? '' : 'Cargo'" onfocus="this.placeholder=''" placeholder="Cargo">
            <div *ngIf="role.invalid && (role.dirty || role.touched)" class="alert alert-danger">
              <div *ngIf="role.errors.required">
                  Nome do Clube ou Instituição Esportiva é necessário.
              </div>
            </div>
        </div>
        <div class="form-group">
          <div class="tablero">Telefone</div>
          <input  [textMask]="{mask: maskTelefone}" type="text"  name="telefone" required [(ngModel)]="contactform.phone" #phone="ngModel" class="form-control telefono" onblur="this.placeholder = this.value ? '' : 'Telefone'" onfocus="this.placeholder=''"  placeholder="Telefone">
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
              <div *ngIf="phone.errors.required">
                O telefone é necessário
              </div>  
            </div>
        </div>
        <div class="form-group">
          <input type="email" name="correo" [(ngModel)]="contactform.email" #email="ngModel" class="form-control" onblur="this.placeholder = this.value ? '' : 'E-Mail'" onfocus="this.placeholder=''" placeholder="E-Mail " required email>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
                E-Mail é necessário.
            </div>
            <div *ngIf="email.errors.email">
                E-Mail não válido.
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea type="text" name="comentario" maxlength="300" [(ngModel)]="contactform.message" #message="ngModel" class="form-control" onblur="this.placeholder = this.value ? '' : 'Comentário'" onfocus="this.placeholder=''"  placeholder="Comentário" rows="1" cols="1"></textarea>
        </div>
        <button type="submit" class="btn btn-default enviar">Enviar <span class="glyphicon glyphicon-menu-right flecha"></span></button>
      </form>
      </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

  </div>