<div class="general home-club">
  <div class="container">
    <div class="row">
      <!-- MENU LATERAL -->
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <app-sidebar></app-sidebar>
      </div>
      <!-- CONTENIDO SECCIÓN -->
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 contenido">

          <router-outlet></router-outlet>
        </div>  
    </div>
  </div>
</div>  