<div class="introduccion">
  <h2 class="titulo-principal color-azulmenta">HOME</h2>
  <!--p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed ligula sit amet elit elementum interdum. Nulla eu dapibus augue. Cras quis aliquam odio. Nunc vel ipsum in erat sollicitudin pretium.</p-->
</div>
<h3 class="titulo-secundario color-azul-basico">BANNERS</h3>
<ul class="list-group" dnd-sortable-container [sortableData]="sliderHome">
  <li class="bloque banners list-group-item" *ngFor="let item of sliderHome; let i = index" (onDropSuccess)="DropNewOrder(sliderHome)"  dnd-sortable [sortableIndex]="i">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
        <div class="circulo">{{ i + 1 }}</div>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" *ngFor="let field of item.fields">
        <img class="imagen-editable" src="{{ urlApi }}{{ field.value }}" alt="">
        <p class="pie-foto">{{ field.title }}</p>
      </div>
      <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 menu-editar">
        <a  title="Alterar" (click)=showUpdate(item.id) class="boton-editar actualizar"><svg class="boton-vector"><use xlink:href="assets/images/sprites.svg#boton-actualizar"></use></svg></a>
        <a title="Visualizar" href="#"class="boton-editar ver"><svg class="boton-vector"><use xlink:href="assets/images/sprites.svg#boton-ver"></use></svg></a>
        <a title="Excluir" (click)=showSure(item.id) class="boton-editar eliminar"><svg class="boton-vector"><use xlink:href="assets/images/sprites.svg#boton-eliminar"></use></svg></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
      <p class="titulo-grande color-azul-basico"><inline-editor type="text" [(ngModel)]="item.title" ></inline-editor></p>
      <p class="parrafo-grande">
        <!-- <inline-editor type="textarea" [(ngModel)]="item.body" ></inline-editor> -->
        <app-ngx-editor [(ngModel)]="item.body" name="body" size="135"></app-ngx-editor>
      </p>
      <br>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 final">
          <a class="magenta_btn" (click)=saveContent(item)>SALVAR</a>
      </div>    
    </div>
  </li>
</ul>

<div class="bloque"> <a (click)=showConfirm() class="boton-magenta">Adicionar banner <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span></a></div>

<div class="bloque">
  <div class="editar-seccion" *ngFor="let item of destacados; let i = index"> 
    <form id="destForm-{{ i }}" class="dest-d" (ngSubmit)="f.form.valid && saveDest(f.form)" #f="ngForm">
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p class="titulo-grande color-azul-basico"><inline-editor #myInlineEditor type="text" [(ngModel)]="item.title" name="title" size="35" (focusout)="myInlineEditor.edit({editing: false})"></inline-editor></p>
          <p class="parrafo-grande"><inline-editor #myInlineEditor2 type="textarea" [(ngModel)]="item.body"  name="body" size="135" (focusout)="myInlineEditor2.edit({editing: false})"></inline-editor></p>
          <!-- <p class="parrafo-grande"><app-ngx-editor [(ngModel)]="item.body"  name="body" size="135"></app-ngx-editor></p> -->
          <input type="hidden" name="id" [(ngModel)]="item.id" />
        </div>
        <!-- <button>Hola</button> -->
    </form>
  </div>
</div>

<div class="bloque">

    <h3 class="titulo-secundario color-azul-basico">NOTICIAS</h3>
    <p>Coloque aqui dados de referência ou exemplos de boas práticas no Brasil ou no mundo clicando no campo que você precisa.</p>
    <div class="practica"  *ngFor="let item of data; let i = index">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 foto-seccion alinear-izquierda">
        <img id="img-{{ item.id }}" class="foto" src="{{ urlApi }}{{ item.fields[0].value }}" alt="" style="width: 150px;">
        <input (change)="handleImage($event, i + 1, item)" type="file" name="file-{{ i }}" id="guide-{{ i + 1 }}" />
      </div>
      <div  class="col-xs-12 col-sm-12 col-md-9 col-lg-9 practica-explicacion">
        <div class="parrafo alinear-izquierda col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h4 class="color-azul-basico">TÍTULO</h4>
          <inline-editor type="textarea" [(ngModel)]="item.title" (onSave)="saveAnswEditable(item)"  name="description" size="22" max="80" cols = "60" rows = "5" min="1" max="170"></inline-editor>
        </div>
        <div class="parrafo alinear-izquierda col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h4 class="color-azul-basico">ENCONTRO</h4>
          <inline-editor type="text" [(ngModel)]="item.fields[2].value" (onSave)="saveAnswEditableCustom(item.fields[2])"  name="description" size="22" min="10" max="10"></inline-editor>
        </div>
        <div class="parrafo alinear-izquierda col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h4 class="color-azul-basico">LIGAÇÃO</h4>
          <inline-editor type="textarea" [(ngModel)]="item.fields[1].value" (onSave)="saveAnswEditableCustom(item.fields[1])"  max="80"  cols = "60" rows = "5" name="description" size="22" min="1" max="170"></inline-editor>
        </div>
        <div class="parrafo alinear-izquierda col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h4 class="color-azul-basico">CORPO</h4>
          <inline-editor type="textarea" [(ngModel)]="item.body" (onSave)="saveAnswEditable(item)"  name="description" max="270"  cols = "60" rows = "5" size="22" min="1" max="425"></inline-editor>
        </div> 
      </div>
      <hr class="divisor-practicas">

  </div>
  
  <div class="bloque"> <a (click)=showConfirmNoticia() class="boton-magenta">Adicionar Noticias <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span></a></div>
  <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1" style="border-top: 1px solid #D5F3FF; width: 100%; padding: 10px 5px;" ></div>
</div>

<div class="bloque">
  <h3 class="titulo-secundario color-azul-basico">LOGOS PARCEIROS </h3>
  <ul class="list-group" dnd-sortable-container [sortableData]="logos">
    <li class="editar-logo" *ngFor="let item of logos; let i = index" (onDropSuccess)="DropNewOrder(logos)"  dnd-sortable [sortableIndex]="i">
      <div (click)=showLogoUpdate(item.id) class="marco">
        <img src="{{ urlApi }}{{ field.value }}" *ngFor="let field of item.fields" alt="{{ field.alt }}" title="{{ field.title }}">
      </div>
      <div class="menu-editar estatico">
          <a title="Alterar" href="#"class="boton-editar mover"><svg class="boton-vector"><use xlink:href="assets/images/sprites.svg#boton-actualizar"></use></svg></a>
          <a title="Visualizar" href="#"class="boton-editar ver"><svg class="boton-vector"><use xlink:href="assets/images/sprites.svg#boton-ver"></use></svg></a>
          <a title="Excluir" (click)=showSureLogos(item.id) class="boton-editar eliminar"><svg class="boton-vector"><use xlink:href="assets/images/sprites.svg#boton-eliminar"></use></svg></a>
       
        </div>    
    </li>
  </ul>
  <div class="editar-logo">
    <div style="padding-top: 94px;">
          <a (click)=newLogo() class="boton-magenta">Adicionar Logo <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span></a>
    </div> 
  </div>
</div>