<ngx-loading [show]="loading"   ></ngx-loading>
<div class="registro dados-clube" *ngIf="registerClub" >
  <!-- MENU GENERAL -->
  <div class="container-fluid franja-registro centro color-azuloscuro">
      <h1 class="titulo-superior">Cadastro </h1>
      <p class="parrafo color-azuloscuro">Antes de inicar o autodiagnóstico é necessário fazer um rápido cadastro do clube. Dessa forma os dados preenchidos no questionário serão salvos automaticamente e você poderá retomar o autodiagnóstico em um outro momento, caso seja necessário interromper o processo. </p>
  </div>
  <div class="container etapas">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 centro">
          <div class="linea fondo-verde fondo-verdepastel" ></div>
          <a class="etapa centro actual-verde" tooltip="Dados Clube" placement="bottom">1</a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 centro">
          <a class="etapa centro pendiente" tooltip="Dados do Contato" placement="bottom">2</a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 centro">
          <a class="etapa centro pendiente" tooltip="Muito Obrigado!" placement="bottom">3</a>
      </div>
  </div>
  <div class="container espaciador-alto70">
              <h2 class="titulo-secundario centro color-azulprofundo"> <span class="glyphicon glyphicon-star estrella"></span> DADOS DO CLUBE <span class="glyphicon glyphicon-star estrella"></span></h2>
              <br/>
  </div>
  <div class="container">
  <div class="row">
      <div class="col-xs-push-3 col-xs-6 col-sm-push-0 col-sm-3 col-md-3 col-lg-2 col-md-offset-0 col-lg-offset-1">
        <div class="escudo borde-verdepastel">
            <img id="escimg" class="escudo-imagen" src="{{imgsrc}}" alt="">
            <div class="escudo-caja fondo-verdepastel">
                <input type="file" name="file" (change)='onChange($event)' id="file" class="inputfile" accept="image/x-png,image/gif,image/jpeg" />
                <label for="file" class="texto color-azulprofundo"> <img class="icono" src="assets/images/generales/actualizar.svg" alt=""> Substituir Escudo</label>
            </div>
            <div *ngIf="SimageAlert" class="alert alert-danger">
                    Logo obrigatório.
           </div>
        </div>   
      </div>

      <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
          <form  id="formulario" class="formulario-registro row"  (ngSubmit)="f.form.valid && reg()" #f="ngForm" novalidate >
              <div class="form-group col-xs-12 col-sm-12">
                  <div class="tablero fondo-verdepastel">Nome do clube</div>
                  <input id="nameCl"  type="text" required minlength="2" name="nameCl" [(ngModel)]="model.nameCl" #nameCl="ngModel" value=""  class="form-control fondo-verdepastel" onblur="this.placeholder = this.value ? '' : 'Nome do clube'" onfocus="this.placeholder=''" placeholder="Nome do clube">
                  <div *ngIf="nameCl.invalid && (nameCl.dirty || nameCl.touched)"
                  class="alert alert-danger">
             
                   <div *ngIf="nameCl.errors.required">
                    Nome obrigatório.
                  </div>
                   <div *ngIf="nameCl.errors.minlength">
                    Nome do clube muito curto
                 </div>
                  </div>
              </div>
              <div class="form-group col-xs-12 col-sm-12">
                  <div class="tablero fondo-verdepastel">Endereço</div>
                  <input type="text" required minlength="4" name="addressCl" [(ngModel)]="model.addressCl" #addressCl="ngModel" value="" class="form-control fondo-verdepastel" onblur="this.placeholder = this.value ? '' : 'Endereço'" onfocus="this.placeholder=''" placeholder="Endereço">
                  <div *ngIf="addressCl.invalid && (addressCl.dirty || addressCl.touched)"
                  class="alert alert-danger">
             
                   <div *ngIf="addressCl.errors.required">
                    Endereço obrigatório.
                  </div>
                   <div *ngIf="addressCl.errors.minlength">
                    Endereço muito curto
                 </div>
                  </div>
              </div>
              <div class="form-group col-xs-12 col-sm-12">
              <div class="tablero fondo-verdepastel">Cidade</div>
                  <input  id="cityCl" type="text" required minlength="2" name="cityCl" class="form-control fondo-verdepastel" [(ngModel)]="model.cityCl" #cityCl="ngModel" value="" onblur="this.placeholder = this.value ? '' : 'Cidade'" onfocus="this.placeholder=''" placeholder="Cidade">
                  <div *ngIf="cityCl.invalid && (cityCl.dirty || cityCl.touched)"
                  class="alert alert-danger">
             
                   <div *ngIf="cityCl.errors.required">
                    Cidade obrigatório.
                  </div>
                   <div *ngIf="cityCl.errors.minlength">
                    Cidade muito curto
                 </div>
                  </div>
              </div>
              <div class="form-group col-xs-12 col-sm-6">
                  <div class="tablero fondo-verdepastel">CEP</div>
                  <input [textMask]="{mask: maskCPE}" id="empQuantityCl" required minlength="9" type="text" name="empQuantityCl" class="form-control fondo-verdepastel" [(ngModel)]="model.empQuantityCl" #empQuantityCl="ngModel" value="" onblur="this.placeholder = this.value ? '' : 'CEP'" onfocus="this.placeholder=''" placeholder="CEP">
                  <div *ngIf="empQuantityCl.invalid && (empQuantityCl.dirty || empQuantityCl.touched)"
                  class="alert alert-danger">
             
                   <div *ngIf="empQuantityCl.errors.required">
                    CEP obrigatório.
                  </div>
                  <div *ngIf="empQuantityCl.errors.minlength">
                    CEP muito curto
                 </div>
                   
                  </div>
              </div>
              <div class="form-group col-xs-12 col-sm-6">
                  <div class="tablero fondo-verdepastel">UF</div>

                  <select name="ufCl" [(ngModel)]="model.ufCl" class="form-control fondo-verdepastel" placeholder="UF">
                        <option [ngValue]="default" selected disabled hidden>UF</option>
                      <option *ngFor="let ufs of ufOptions" [ngValue]="ufs">{{ufs}}</option>
                  </select>
              </div>
              <div class="form-group col-xs-12 col-sm-12">
                  <div class="tablero fondo-verdepastel">CNPJ</div>
                  <input [textMask]="{mask: maskCNPJ}" id="cnpjCl" type="text" required minlength="1" name="cnpjCl" class="form-control fondo-verdepastel" [(ngModel)]="model.cnpjCl" #cnpjCl="ngModel" value="" onblur="this.placeholder = this.value ? '' : 'CNPJ'" onfocus="this.placeholder=''" placeholder="CNPJ" >
                  <div *ngIf="cnpjCl.invalid && (cnpjCl.dirty || cnpjCl.touched)"
                  class="alert alert-danger">
             
                   <div *ngIf="cnpjCl.errors.required">
                    CNPJ obrigatório.
                  </div>
                  <div *ngIf="cnpjCl.errors.minlength">
                    CNPJ muito curto
                 </div>
                   
                  </div>
              </div>
              <div class="form-group col-xs-12 col-sm-12">
                  <div class="tablero fondo-verdepastel">Website</div>
                  <input id="websiteCl" type="text" name="websiteCl" class="form-control fondo-verdepastel" [(ngModel)]="model.websiteCl" #websiteCl="ngModel" value="" onblur="this.placeholder = this.value ? '' : 'Website'" onfocus="this.placeholder=''" placeholder="Website">
                 
              </div>
              <p class="mensaje centro color-grisclaro">Todos os campos são de preenchimento obrigatório</p>

              <button type="submit" class="btn amarillo_btn center-block" form="formulario" >Próxima <span class="glyphicon glyphicon-menu-right flecha"></span></button>
          </form>

      </div>

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
      </div>
      </div>
  </div>
</div>

<div class="registro dados-contato" *ngIf="registerUser">
<!-- MENU GENERAL -->
    <div class="container-fluid franja-registro centro color-azuloscuro">
        <h1 class="titulo-superior">Cadastro</h1>
        <p class="parrafo color-azuloscuro">Insira aqui os dados da pessoa de contato do clube. Todos os dados fornecidos na plataforma JOGUE LIMPO, JOGUE BEM serão mantidos em sigilo e não serão utilizados para outros fins.</p>
    </div>
    <div class="container etapas">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 centro">
  
            <a class="etapa centro aprobado color-azulprofundo" tooltip="Dados Clube" placement="bottom">1</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 centro">
            <div class="linea fondo-amarillo"></div>
            <a class="etapa centro actual-amarillo" tooltip="Dados do Contato" placement="bottom">2</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 centro">
            <a class="etapa centro pendiente" tooltip="Muito Obrigado!" placement="bottom">3</a>
        </div>
    </div>
    <div class="container espaciador-alto70">
                <h2 class="titulo-secundario centro color-azulprofundo"> <span class="glyphicon glyphicon-star estrella"></span> DADOS DO CONTATO <span class="glyphicon glyphicon-star estrella"></span></h2>
                <br/>
    </div>
    <div class="container">
    <div class="row">
         <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 col-md-offset-0 col-lg-offset-1">
            <div class="escudo borde-amarillopastel">
                <img id="escimg" class="escudo-imagen" src="{{imgsrc}}" alt="">
                <div class="escudo-caja fondo-amarillopastel">
                    <input type="file" name="file" (change)='onChange($event)' id="file" class="inputfile" accept="image/x-png,image/gif,image/jpeg" />
                    <label for="file" class="texto color-azulprofundo"> <img class="icono" src="assets/images/generales/actualizar.svg" alt=""> Substituir Escudo</label>
                </div>
                <div *ngIf="SimageAlert" class="alert alert-danger">
                        Logo obrigatório.
               </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
            <form id="formUser" class="formulario-registro row"  (ngSubmit)="f.form.valid && regUser()" #f="ngForm" novalidate  >
                <div class="form-group col-xs-12 col-sm-12">
                    <div class="tablero fondo-amarillopastel">Pessoa de contato</div>
                    <input id="persona" type="text" required minlength="6" name="persona" class="form-control fondo-amarillopastel" [(ngModel)]="model.persona" #persona="ngModel" value="" onblur="this.placeholder = this.value ? '' : 'Pessoa de contato'" onfocus="this.placeholder=''" placeholder="Pessoa de contato">
                    <div *ngIf="persona.invalid && (persona.dirty || persona.touched)"
                    class="alert alert-danger">
               
                     <div *ngIf="persona.errors.required">
                        Pessoa de contato obrigatório.
                    </div>
                     <div *ngIf="persona.errors.minlength">
                        6 caracteres mínimos
                   </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12">
                    <div class="tablero fondo-amarillopastel">Cargo</div>
                    <input  id="cargo"  type="text" name="cargo" required minlength="2" class="form-control fondo-amarillopastel"  [(ngModel)]="model.cargo" #cargo="ngModel" value="" onblur="this.placeholder = this.value ? '' : 'Cargo'" onfocus="this.placeholder=''" placeholder="Cargo">
                    <div *ngIf="cargo.invalid && (cargo.dirty || cargo.touched)"
                    class="alert alert-danger">
               
                     <div *ngIf="cargo.errors.required">
                        Cargo obrigatório.
                    </div>
                     <div *ngIf="cargo.errors.minlength">
                        Cargo muito curto
                   </div>
                    </div>

                </div>
                <div class="form-group col-xs-12 col-sm-12">
                    <div class="tablero fondo-amarillopastel">Área</div>
                    <input id="area" type="text" name="area" required minlength="4" class="form-control fondo-amarillopastel" required minlength="2"  [(ngModel)]="model.area" #area="ngModel" value="" onblur="this.placeholder = this.value ? '' : 'Área'" onfocus="this.placeholder=''" placeholder="Área">
                    <div *ngIf="area.invalid && (area.dirty || area.touched)"
                    class="alert alert-danger">
               
                     <div *ngIf="area.errors.required">
                        area obrigatório.
                    </div>
                     <div *ngIf="area.errors.minlength">
                        area muito curto
                   </div>
                    </div>
                </div>
                
                <div class="form-group col-xs-12 col-sm-6">
                    <div class="tablero fondo-amarillopastel">Telefone</div>
                    <input [textMask]="{mask: maskTelefone}" id="telefono" type="text" name="telefono" class="form-control fondo-amarillopastel" required minlength="5"  [(ngModel)]="model.telefono" #telefono="ngModel" value=""  onblur="this.placeholder = this.value ? '' : 'Telefone'" onfocus="this.placeholder=''"  placeholder="Telefone">
                    <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
                    class="alert alert-danger">
               
                     <div *ngIf="telefono.errors.required">
                        Telefone obrigatório.
                    </div>
                     <div *ngIf="telefono.errors.minlength">
                        Telefone muito curto
                   </div>
                    </div>              
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                    <div class="tablero fondo-amarillopastel">Celular</div>
                    <input  [textMask]="{mask: maskCelular}" type="text" name="celular" class="form-control fondo-amarillopastel"  [(ngModel)]="model.celular" #celular="ngModel" value=""  onblur="this.placeholder = this.value ? '' : 'Celular'" onfocus="this.placeholder=''" placeholder="Celular">
                   
                </div>
                <div class="form-group col-xs-12 col-sm-12">
                    <div class="tablero fondo-amarillopastel">E-mail coporativo</div>
                    <input id="correo" type="email" name="correo" class="form-control fondo-amarillopastel" required minlength="10" [(ngModel)]="model.correo" #correo="ngModel" value=""  onblur="this.placeholder = this.value ? '' : 'E-mail coporativo'" onfocus="this.placeholder=''" placeholder="E-mail coporativo"  required
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$">
                   
                    <div *ngIf="correo.invalid && (correo.dirty || correo.touched)"
                    class="alert alert-danger">
               
                     <div *ngIf="correo.errors.required">
                        Email obrigatório.
                    </div>
                    <div *ngIf="correo.errors && correo.errors.pattern">
                        Email is invalid
                    </div>

                    </div>

              
                </div>
                <div class="form-group col-xs-12 col-sm-12">
                    <div class="tablero fondo-amarillopastel">Digite novamente o e-mail</div>
                    <input id="regmailConfirm" type="text" name="correoValidar" class="form-control fondo-amarillopastel"  [(ngModel)]="model.correoValidar" #correoValidar="ngModel" value="" onblur="this.placeholder = this.value ? '' : 'Digite novamente o e-mail'" onfocus="this.placeholder=''" placeholder="Digite novamente o e-mail" email>
                </div>
                <div  *ngIf="matchE" class="alert alert-danger" >Email não correspondem</div>
                
             
                <p class="parrafo color-azulmedio centro" style="display: inline-block; margin-top: 15px;">O clube está interessado em participar do programa<br><strong>JOGUE LIMPO, JOGUE BEM?</strong></p>
                <div class="selecciones">
                    <label class="radio-inline color-azulprofundo izquierda">
                        <input   class="fondo-amarillopastel" type="radio" name="optradio1" [value]="1"  [(ngModel)]="selectedOption" >Sim
                    </label>
                    <label class="radio-inline color-azulprofundo derecha">
                        <input class="fondo-amarillopastel" type="radio" name="optradio2"  [value]="0"  [(ngModel)]="selectedOption" >Não
                    </label>

                   
                </div>
                
                <p class="mensaje centro color-grisclaro">Todos os campos são de preenchimento obrigatório exceto celular.</p>
            
                <button type="submit" class="btn magenta_btn center-block" form="formUser">Final <span class="glyphicon glyphicon-menu-right flecha"></span></button>
                <button type="submit" class="btn magenta_btn center-block atras" form="formulario" (click)="goBack()"><span class="glyphicon glyphicon-menu-left flecha"></span> Voltar</button>
            </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
        </div>
    </div>
    </div>
  </div>



  <div class="registro obrigado"  *ngIf="registerFinish">
    <!-- MENU GENERAL -->

    <div class="container-fluid franja-registro centro color-azuloscuro">
        <h1 class="titulo-superior">Cadastro</h1>
        <p class="parrafo color-azuloscuro"></p>
    </div>
    <div class="container etapas">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 centro">

            <a class="etapa centro aprobado color-azulprofundo" tooltip="Dados Clube" placement="bottom">1</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 centro">
            <a class="etapa centro  aprobado color-azulprofundo" tooltip="Dados do Contato" placement="bottom">2</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 centro">
            <div class="linea fondo-magenta"></div>
            <a class="etapa centro actual-magenta" tooltip="Muito Obrigado!" placement="bottom">3</a>
        </div>
    </div>
    <div class="container espaciador-alto70">
       <br/>
    </div>
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h2 class="titulo-secundario centro color-azulmedio">Muito Obrigado!</h2> <br>
            <p class="parrafo-medio color-magenta centro">Para definir a sua senha, verifique a confirmação do cadastro no seu e-mail e clique no link enviado.</p>
            <img class="imagen-balon" src="assets/images/generales/balon.svg" alt="">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        </div>
    </div>
 </div>