<ngx-loading [show]="loading" ></ngx-loading>
<div id="print-area">
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        
  <div class="introduccion">
      <h2 class="titulo-principal color-azulmenta">
          <span class="logo-auto">
              <svg class="icono_monitoreo" viewBox="0 0 28 12">
                <use xlink:href="assets/images/sprites.svg#icono-monitoreo"></use>
              </svg>
          </span>
          PAINEL DE MONITORAMENTO
      </h2>
      <p class="parrafo color-grismedio">Atualize aqui os dados do clube em relação à implementação do Plano de Ações do programa JOGUE LIMPO, JOGUE BEM, e monitore os avanços do clube quanto à garantia de direitos dos jovens atletas em formaçãvo.</p>
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 grafica">
    <div class="col-xs-12 col-sm-12">
        <div class="current">
                {{current}}%
        </div>
        <round-progress
        [current]="current"
        [max]="max"
        [color]="'rgb(25, 35, 114)'"
        [background]="'rgb(133, 217, 246)'"
        [radius]="35"
        [stroke]="8"
        [rounded]="true"
        [clockwise]="true"
        [responsive]="false"
        [duration]="800"
        [animation]="'easeInOutQuart'"
        [animationDelay]="0"></round-progress>
    </div>
    <div class="col-xs-12"><span class="small text-center">Progresso global</span></div>
    
</div>

<div class="container-fluid">  
    <p class="color-azul-basico titulo-secundario">{{promise}}</p>
    <p class="color-azul-medio titulo-secundario">{{promiseTitle}}</p>
    <form role="form" novalidate [formGroup]="form" >
        <div class="bloque-secciones" *ngFor="let field of fields">

            <div class="col-xs-12 col-sm-12 col-md-11 col-lg-9 titulos-superiores">
                <div class="col-xs-4 col-sm-4 col-md-8 col-lg-10">
                    <p class="titulo-accion">{{ field.templateOptions.title }}</p>
                </div>
                    <!--div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                    <p class="titulo-anterior">Ano<br>anterior</p>
                </div-->
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-14">
                    <p class="titulo-actual">Ano<br>atual</p>
                </div>
            </div>
            <div class="col-xs-5 col-sm-10 col-md-8 col-lg-9 fondo-divisor"></div>
            <div class="cuadro-general" *ngFor="let input of field.fieldGroup">
                <div class="col-xs-5 col-sm-10 col-md-8 col-lg-9 datos-internos">
                    <div class="col-xs-9 col-sm-7 col-md-9 col-lg-10 dato-izquierdo">
                        <p class="parrafo color-grisoscuro">{{input.templateOptions.numeration}}  {{input.templateOptions.label}}</p>
                    </div>
                    <!--div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 dato-centro">
                        <p class="indicador-anterior color-azul-basico">
                            
                        </p>
                    </div-->
                    <div class="col-xs-3 col-sm-4 col-md-3 col-lg-2 dato-derecha" [ngSwitch]="input.type">

                        <input *ngSwitchCase="'input'" type="number" 
                            [min]="0" [max]="100" [value]="input.defaultValue" 
                            [formControlName]="input.key"  class="form-control" (change)="inputChange( $event.target.value, input )">

                        <div *ngSwitchCase="'radio'">
                            <div  *ngFor="let option of input.templateOptions.options" class="opcion">
                                <input [formControlName]="input.key" (change)="inputChange(option.value, input)" type="radio" [value]="option.value" >
                                <label>{{option.label}}</label>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3 acciones">
                    <div class="icono-estado">
                        <img *ngIf="input.valid" id="{{input.key}}_image" src="assets/images/icono-aprobado.svg" style="display: none;" alt="">
                        <img *ngIf="!input.valid" id="{{input.key}}_image" src="assets/images/icono-rechazado.svg" style="display: none;" alt="">
                    </div>
                    <p class="anuncio color-azul-basico">Adicionar <br> Arquivos</p>
                    <div class="desplgable" (click)="openModal(input.key, input.templateOptions.numeration)" data-toggle="modal" data-target="#monitoringPanelModal">
                        <a ><span class="flecha"><svg class="flecha-abajo" viewBox="0 0 4 8"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span></a>
                    </div>
                </div>
            </div>

        </div>

    </form>

    <template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Modal</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This is a modal.
        </div>
      </template>      
    
      
    <div class="controles" *ngIf="!loading && fields.length > 0 ">

         <h4 class="titulo-terciario centro color-grismedio">Veja os outros compromissos</h4>
        <div class="numeros">
          <ng-pagination [(ngModel)]="currentPage" [boundaryLinks]="false" (pageChanged)="pageChanged($event)"></ng-pagination>
        </div>
    </div>

    <div class="modal fade modal-recursos" id="monitoringPanelModal" tabindex="-1" role="dialog">
        <div class="modal-content">
            <div class="modal-body">
                <modalmonitoring [numeral]="numeral" [indicator]="indicator" [promise]="promise" [promiseTitle]="promiseTitle"></modalmonitoring>
            </div>
        </div>
    </div>
</div>
   
</div>
<!--<a (click)="printPDF()" class="print-link"> <i class="fa fa-print"></i> Imprimir</a>-->
