<div class="general boas-practicas admin-boas" *ngIf="titleContent?.title">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenido" >
    <div class="introduccion">
        <h2 class="titulo-principal color-azulmenta"> 
          <span class="logo-auto">
            <svg class="icono_materiais" viewBox="0 0 20 20">
                <use xlink:href="assets/images/sprites.svg#icono-practicas"></use>
            </svg>
          </span>
          <inline-editor type="text" [(ngModel)]="titleContent.title" (onSave)="saveTitleContent()" name="titleContent.title" size="35"></inline-editor>
        </h2>
        <div class="practica"  *ngFor="let item of data; let i = index">
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 foto-seccion alinear-izquierda">
            <img id="img-{{ item.id }}" class="foto" src="{{ urlApi }}{{ item.fields[0].value }}" alt="">
            <div class="menu-editar estatico">
              <a title="Alterar" href="#"class="boton-editar mover"><svg class="boton-vector"><use xlink:href="assets/images/sprites.svg#boton-actualizar"></use></svg></a>
              <a title="Excluir" (click)=showSureLogos(item.id) class="boton-editar eliminar"><svg class="boton-vector"><use xlink:href="assets/images/sprites.svg#boton-eliminar"></use></svg></a>
              <input (change)="handleImage($event, i + 1, item)" type="file" name="file-{{ i }}" id="guide-{{ i + 1 }}" />
            </div>    
            
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-7 col-lg-7 practica-explicacion">
            <p class="titulo-practicas color-azul-basico">
              <inline-editor #myInlineEditor type="text" [(ngModel)]="item.title" (onSave)="saveAnswEditable(item)" name="description" size="22" (focusout)="myInlineEditor.edit({editing: false})"></inline-editor>
            </p>
            <p class="parrafo alinear-izquierda col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <inline-editor #myInlineEditor2 type="textarea" [(ngModel)]="item.body" (onSave)="saveAnswEditable(item)" name="description" size="22" (focusout)="myInlineEditor2.edit({editing: false})"></inline-editor>
            </p>
          </div>
          <hr class="divisor-practicas">
        </div>
    </div>
  </div>
</div>
