<ngx-loading [show]="loading" ></ngx-loading>

<div id="print-area">

    <div class="introduccion">
        <h2 class="titulo-principal color-azulmenta"><span class="logo-auto"><svg class="flecha-abajo" viewBox="0 0 20 20"><use xlink:href="assets/images/sprites.svg#auto_logo"></use></svg></span>  RESULTADO DO AUTODIAGNÓSTICO </h2>
        <p class="parrafo color-grismedio">
            Obrigado, por realizar o autodiagnóstico da iniciativa <span style="color: #666; font-weight: bold;">JOGUE LIMPO, JOGUE BEM!</span>
        </p>
        <br/>
        <p style="color: #666; font-weight: bold;">
            A seguir voce encontra un resumo do desempenho do clube, asim como recomendacoes sobre como melhorar cada uma das praticas e politicas de responsabilidade social voltadas para infancia e adolecencia no futebol.
        </p>
    </div>

    <div class="autodiagnostico-caso" *ngIf="graphs">
        <div *ngFor="let graph of graphs ; let i = index" class="row">
            <div *ngIf="i == 0; else elseBlock">
                <h3 class="titulo-secundario centro color-blanco fondo-azulauxiliar">{{graph.name}}</h3>
                <div class="">
                    <div class="contenedor-grafica-principal">
                        <div class="col-xs-10 col-sm-12 col-md-5 col-lg-4">
                            <canvas baseChart  
                                [data]=  "graph.data.pie.dataset"
                                [colors]="doughnutChartColors"
                                [options]="pieChartOptions"
                                [labels]="pieChartLabels"
                                [chartType]="pieChartType"
                                [legend]="pieChartLegend"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">  
                            </canvas>
                        </div>
                        <div class="col-xs-10 col-sm-12 col-md-3 col-lg-3">
                            <div class="leyenda">
                                <div class="cuadro-leyenda boa"></div><p class="texto-leyenda">Boa Prática</p>
                            </div>
                            <div class="leyenda">
                                <div class="cuadro-leyenda aprimorada"></div><p class="texto-leyenda">Prática a ser aprimorada</p>  
                            </div>
                            <div class="leyenda">
                                <div class="cuadro-leyenda nao"></div><p class="texto-leyenda">Prática Não recomendável</p>   
                            </div>
                            <div class="leyenda">
                                    
                            </div>
                            <div class="leyenda">
                                <div class="cuadro-leyenda insatisfactoria"></div><p class="texto-leyenda">Prática insatisfactoria ou inexistente</p> 
                            </div>
                        </div>
                        <div class="col-xs-10 col-sm-12 col-md-4 col-lg-4">
                            <canvas baseChart
                                [datasets]="graphsPaint[i]"
                                [labels]="barChartLabels[i]"
                                [options]="barChartOptionsSide"
                                [legend]="barChartLegend"
                                [colors]="barChartColors"
                                [chartType]="lineChartType"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                    </div>
                </div>
                <h3 class="titulo-secundario centro color-blanco fondo-azulauxiliar">RESULTADOS POR TEMAS</h3>
            </div>
            
            <ng-template #elseBlock>
                <div class="row tema-unitario">
                    <div class="col-xs-10 col-sm-12 col-md-4 col-lg-7">
                        <div class="agrupar">
                            <p>Tema: {{i}}</p>
                            <p class="texto-unitario">{{graph.name}}</p>
                        </div>
                    </div>           
                    <div class="col-xs-10 col-sm-12 col-md-8 col-lg-5">
                        
                            <canvas baseChart height="120"
                                [datasets]="graphsPaint[i]"
                                [labels]="barChartLabels[i]"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [colors]="barChartColors"
                                [chartType]="barChartType"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                            </canvas>
                        
                    </div>
                </div>
            </ng-template>
        </div>
    </div>

</div>

<div *ngIf="graphs">
    Última atualização {{maxDate}}    
    <div class="btn-home uno">
            <button type="submit" class="btn center-block " style="margin-right: 0px !important; color: #D4155B;" routerLink="/autodiagnostic/test/restart" >Actualizar/Cambiar <span class="glyphicon glyphicon-menu-right flecha" style="top: 2px;" ></span></button>
        </div>
   

    <br/>
    <br/>

    <a routerLink="/autodiagnostic/recommendations" class="magenta_btn">
        Veja as orientações para o clube 
        
    </a>
</div>

<a (click)="printPDF()" class="print-link"> <i class="fa fa-print"></i> Imprimir</a>