<div class="menu-lateral">
  <h4 class="titulo-secundario color-azulmedio">TEMAS</h4>
  <hr>
  <div class="seccion activo">
      <a class="categoria" href="#!" onclick="$('.subseccion').slideToggle('fast');">
          <span class="titulo color-azulauxiliar">Direitos da Crianças e do Adolescente</span>
          <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
      </a>
  </div>
  <div class="subseccion">
          <div class="seccion activo">
              <a class="categoria" href="#!">
                  <span class="titulo color-azulauxiliar">Empresas e Direitos Humanos</span>
                  <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
              </a>
          </div>
          <div class="seccion">
              <a class="categoria" href="#!">
                  <span class="titulo color-azulauxiliar">Empresas e Direitos Humanos</span>
                  <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
              </a>
          </div>
          <div class="seccion">
              <a class="categoria" href="#!">
                  <span class="titulo color-azulauxiliar">Empresas e Direitos Humanos</span>
                  <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
              </a>
          </div>
  </div>
  <div class="seccion">
      <a class="categoria" href="#!">
          <span class="titulo color-azulauxiliar">Formação de Atletas</span>
          <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
      </a>
      
  </div>
      
      
  <div class="seccion">
      <a class="categoria" href="#!">
          <span class="titulo color-azulauxiliar">Institucional</span>
          <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
      </a>
  </div>
  <div class="seccion">
      <a class="categoria" href="#!">
          <span class="titulo color-azulauxiliar">Legislação</span>
          <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
      </a>
  </div>

</div>