<div class="general admin-recursos" *ngIf="titleContent?.title">
  <div class="contenido">
    <div class="introduccion">
      <h2 class="titulo-principal color-azulmenta">
          <span class="logo-auto">
              <svg class="icono_materiais" viewBox="0 0 54 54.4">
                  <use xlink:href="/assets/images/sprites.svg#icono-recursos"></use>
              </svg>
          </span>
          <inline-editor type="text" [(ngModel)]="titleContent.title" (onSave)="saveTitleContent()" name="content.title" size="45"></inline-editor>
          </h2>
      <p class="parrafo">Para agregar novos materiais ao Centro de Recursos, preencha os campos abaixo e selecione o(s) arquivo(s) que deseja incluir.</p>
    </div>
    <div class="bloque superior">
      <div class="col-md-2 col-lg-2"></div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <form id="form-ri" class="formulario-registro" (ngSubmit)="f.form.valid && save()" #f="ngForm">
          <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <select (change)="changeCategories($event)" class="form-control fondo-verdepastel"  name="">
              <option value="" selected disabled>Selecione a Tema</option>
              <option *ngFor="let item of categories; let i = index"  value="{{ i }}" >{{ item.name }}</option>
            </select>            
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <select class="form-control fondo-verdepastel"  id="term" name="term">
              <option value="" selected disabled>Selecione a Subtema</option>
              <option *ngFor="let item of subcategories; let i = index"  value="{{ item.id }}" >{{ item.name }}</option>
            </select>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input class="form-control fondo-verdepastel" type="text" name="title" required="{{ required.title }}" [(ngModel)]="resourceForm.title" #title="ngModel" onblur="this.placeholder = this.value ? '' : 'Nome do clube'" onfocus="this.placeholder=''" placeholder="Nome do arquivo">
            <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
              <div *ngIf="title.errors.required">
                  o Nome do arquivo é obrigatório
              </div>
            </div>
          </div>

          <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input class="form-control fondo-verdepastel" type="text" name="tags" required="{{ required.tags }}" [(ngModel)]="resourceForm.tags" #tags="ngModel" onblur="this.placeholder = this.value ? '' : 'Nome do clube'" onfocus="this.placeholder=''" placeholder="Tags (separados por vírgulas)">
            <div *ngIf="tags.invalid && (tags.dirty || tags.touched)" class="alert alert-danger">
              <div *ngIf="tags.errors.required">
                os rótulos são obrigatórios
              </div>
            </div>
          </div>
          <div class="content-file">
            <!-- <input type="file" name="file"  id="file" value="" [(ngModel)]="resourceForm.file" #file="ngModel" required="{{ required.file }}" /> -->
              <input type="file" name="file"  id="file" value="" [(ngModel)]="resourceForm.file" #file="ngModel" required="{{ required.file }}"  class="inputfile" />
              <label for="file" class="boton-azul">Selecionar Arquivo <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span></label>
              <span class="color-grisclaro sugerencia">Máximo 20MB</span>
              <div *ngIf="file.invalid && (file.dirty || file.touched)" class="alert alert-danger">
              <div *ngIf="file.errors.required">.  
                o arquivo é obrigatório
              </div>
            </div>
          </div>         
          <button type="submit" [disabled]="!f.form.valid" class="magenta_btn">Enviar Arquivo <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span></button>
        </form>
        
      </div>
      <div *ngIf="isLoading" class="bloque medio">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>
    </div>
    <div class="bloque medio">
      <p class="parrafo color-grismedio">Para editar ou excluir materiais do Centro de Recursos, utilize os filtros abaixo para localizar o arquivo.</p>
      <form class="formulario-registro col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group col-xs-12 col-sm-12 col-md-8 col-lg-6 col-md-push-2 col-lg-push-3">
          <select (change)="changeCategoriesBottom($event)" class="form-control fondo-azulpastel">
            <option value="" selected disabled>Selecione a categoria</option>
            <option *ngFor="let item of categories; let i = index"  value="{{ item.id }}" >{{ item.name }}</option>
          </select>
        </div>
      </form>
    </div>
  
    <div class="bloque inferior" *ngIf="content.length > 0">
      <h3 class="titulo-secundario color-azul-basico">{{ titleCategory }}</h3>
      <div class="editar-seccion" *ngFor="let item of content; let i = index">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-11">
          <p class="titulo-medio color-azul-medio">
              <inline-editor type="text" [(ngModel)]="item.title" (onSave)="saveAnswEditable(item)"  name="title" size="45"></inline-editor>
          </p>
          <p class="parrafo color-azul-basico tag-titulo">Tags:</p>
          <div class="parrafo-pequeno color-grismedio" *ngFor="let field of item.fields;">
              <span *ngIf="field.type=='tags'" class="etiquetas">
                <inline-editor type="text" [(ngModel)]="field.value" (onSave)="saveAnswEditableCustom(field)"  name="title" size="45"></inline-editor>
              </span>  
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1 menu-editar">
          <a (click)="delete(item.id)" class="boton-editar eliminar"><svg class="boton-vector"><use xlink:href="assets/images/sprites.svg#boton-eliminar"></use></svg></a>
        </div>
      </div>
    </div>
  </div>
</div>