<div class="menu-lateral">
  <div class="datos-club" *ngIf="club">
    <div  *ngIf="club">
        <img *ngIf="club.logo == 'https://joguelimpojoguebem.com.br/api/'" src="assets/images/generales/escudo.svg">
        <img *ngIf="club.logo != 'https://joguelimpojoguebem.com.br/api/'" src="{{club.logo}}" style=" width: 50px;">
    </div>
            <div>
                <div class="nombre-club">
                    <p class="nombre color-azulmedio">{{club.name}}</p>
                    <a onclick="$('.opciones-club').slideToggle();" class="indicador">
                        <svg class="flecha-abajo" viewBox="0 0 8 4"><use xlink:href="assets/images/sprites.svg#flecha-abajo"></use></svg>
                    </a>
                </div>
                <div class="opciones-club">
                    <a [routerLink]="['/edit_profile']" class="color-magenta">Editar Cadastro do Clube</a>
                    <a  class="color-azulmenta" (click)="logout()">Salir</a>
                </div>
            </div>
    </div>
        <div class="seccion" routerLinkActive="activo">
            <a class="categoria" [routerLink]="['/autodiagnostic/test']" >
                <span class="titulo color-azulauxiliar">Autodiagnóstico</span>
                <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
            </a>
        </div>
        <div class="seccion" routerLinkActive="activo">
            <a class="categoria" [routerLink]="['/autodiagnostic/recommendations']">
                <span class="titulo color-azulauxiliar">Recomendações<br>para o Clube</span>
                <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
            </a>
        </div>
        <div class="seccion" routerLinkActive="activo">
            <a class="categoria" [routerLink]="['/autodiagnostic/plan']">
                <span class="titulo color-azulauxiliar">Plano de<br>Ações e Metas</span>
                <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
            </a>
        </div>
        <div class="seccion" routerLinkActive="activo">
            <a class="categoria" [routerLink]="['/autodiagnostic/material']">
                <span class="titulo color-azulauxiliar">Materiais de Apoio</span>
                <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
            </a>
        </div>
        <div class="seccion" routerLinkActive="activo">
            <a class="categoria" [routerLink]="['/autodiagnostic/monitoring']">
                <span class="titulo color-azulauxiliar">Painel de<br>Monitoramento</span>
                <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
            </a>
        </div>
        <div class="seccion" routerLinkActive="activo">
            <a class="categoria"  [routerLink]="['/autodiagnostic/practices']">
                <span class="titulo color-azulauxiliar">Banco de<br>Boas Práticas</span>
                <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
            </a>
        </div>
</div>
