<ngx-loading [show]="loading" ></ngx-loading>
<div class="general">
    <!--Cuando es primer ingreso-->
    <div  *ngIf="!content" >
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="introduccion"><div class="espaciador-alto50"></div>
                        <h2 class="titulo-principal color-azulmenta">
                            <span class="logo-auto">
                                <svg class="icono_materiais" viewBox="0 0 54 54.4">
                                    <use xlink:href="/assets/images/sprites.svg#icono-recursos"></use>
                                </svg>
                            </span>
                            Centro de Recursos
                        </h2>
                        <p class="parrafo"> Utilize a ferramenta de pesquisa para encontrar materiais específicos sobre temas de seu interesse. </p>
                        <br>
                        <div class="container buscador">
                            <div class="col-xs-12 col-sm-4 col-lg-4 col-lg-push-0">
                                <!--p class="derecho titulo-terciario color-azulmedio titulo-pesquisar">PESQUISAR MATERIAL:</p-->    
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <form class="formulario-registro" action="">
                                    <input name="search" [(ngModel)]="filtered" type="text"  class="form-control fondo-amarillopastel" placeholder="Insira palavra chave">
                                    <button type="button" class="btn magenta_btn">
                                        <svg class="icono-buscar" viewBox="0 0 15.65 14.34"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprites.svg#icono-buscar"></use></svg>
                                    </button>
                                </form>
                            </div>
                            <div class="col-xs-2 col-sm-2">
                                <p> </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>

        <div class="container">
            <div class="espaciador-alto50"></div>
            <div class="row" *ngIf= "!filtered">


                <div *ngFor="let box of boxes"  class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="tema-recurso">
                        <h2 (click)="openContent2(box.id)"  style="cursor: pointer;" class="color-azulmedio titulo-terciario">{{box.name}}</h2>
                        <div class="imagen-contenedor" (click)="openContent2(box.id)">  
                            <img class="img-responsive" src="{{box.image}}" alt="" xlink:href="assets/images/sprites.svg#flecha-derecha">   
                            <div class="cover">
                                <button class="btn magenta_btn"  (click)="openContent2(box.id)" >
                                    Ver Tema
                                    <span class="flecha"><svg style="margin-left: 4px; float: left;" class="flecha-derecha" viewBox="0 0 4 8"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="espaciador-alto70"></div>

            <!-- Resultado busqueda general -->
            <div  *ngIf= "filtered">
                <h2 class="titulo-secundario color-azulmedio"> Resultado da busca </h2>
                <div class="bloque-contenido row" *ngFor="let document of pagedItems | orderBy: key : reverse | filter:filtered; let i = index">
                    <div class="col-xs-7 col-sm-9 col-md-9 col-lg-10">
                        <a  class="titulo-terciario"  href="{{document.fields[1].value}}" download>{{document.title}}</a>
                        <p class="color-grismedio">{{document.fields[1].type}} - 130Kb{{document.size}}</p>
                        <p class="color-grismedio">{{document.term.parent}}</p>
                        <p class="color-grismedio">{{document.term.my_self}}</p>
                    </div>
                    <div class="col-xs-5 col-sm-3 col-md-3 col-lg-2">
                        <a class="simple-btn derecha" href="{{document.fields[1].value}}" download>
                            Baixar <span class="flecha"><svg class="flecha-abajo" viewBox="0 0 8 4"><use xlink:href="assets/images/sprites.svg#flecha-abajo"></use></svg></span>
                        </a>
                    </div>
                </div>
            

                <div class="controles">
                    <br>
                    <h4 class="titulo-terciario centro color-grismedio">PÁGINAS </h4>
                    <!-- pager -->
                    <div *ngIf="pager.pages && pager.pages.length" class="numeros" >

                        <a (click)="setPage(pager.currentPage - 1)" [ngClass]="{disabled:pager.currentPage === 1}" >
                            <span class="flecha">
                            <svg class="flecha-abajo" viewBox="0 0 4 8">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprites.svg#flecha-izquierda"></use>
                            </svg>
                            </span></a>
                        <button *ngFor="let page of pager.pages" (click)="setPage(page)" type="button" class="btn amarillo_btn" [ngClass]="{active:pager.currentPage === page}">
                            {{page}}
                        </button>
                    
                        <a (click)="setPage(pager.currentPage + 1)" [ngClass]="{disabled:pager.currentPage === pager.totalPages}"  ><span class="flecha"><svg class="flecha-abajo" viewBox="0 0 4 8"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span></a>
            
                    </div>
                </div>

            </div> 

            <div class="espaciador-alto70"></div>
        </div>
    </div>


    <!--Cuando se accede a cada tema-->
    <div *ngIf="content" >
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="introduccion"><div class="espaciador-alto50"></div>
                        <h2 class="titulo-principal color-azulmenta">
                            <span class="logo-auto">
                                <svg class="icono_materiais" viewBox="0 0 54 54.4">
                                        <use xlink:href="/assets/images/sprites.svg#icono-recursos"></use>
                                </svg>
                            </span>
                            Centro de Recursos
                        </h2>
                        <p>Utilize a ferramenta de pesquisa para encontrar materiais específicos sobre temas de seu interesse. </p>
                        <br>
                        <div class="container buscador">
                            <div class="col-xs-12 col-sm-4 col-lg-4 col-lg-push-0">
                                <!--p class="derecho titulo-terciario color-azulmedio titulo-pesquisar">PESQUISAR MATERIAL:</p-->    
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <form class="formulario-registro" action="">
                                    <input name="search" [(ngModel)]="filtered" type="text"  class="form-control fondo-amarillopastel" placeholder="Insira palavra chave">
                                    <button type="button" class="btn magenta_btn" (click)="toggleTitle()">
                                        <svg class="icono-buscar" viewBox="0 0 15.65 14.34"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprites.svg#icono-buscar"></use></svg>
                                    </button>
    
                                </form>
                            </div>
                            <div class="col-xs-2 col-sm-2">
                                <p> </p>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
            
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <!-- MENU LATERAL -->  

                    <ul class="sidebar-menu">
                        <ng-container *ngFor="let menu of boxes ; let i = index" >
           
                            <li style="cursor: pointer;" [ngClass]="{'have-children active' : indexBox == i, 'have-children' : indexBox != i}" (click)="openContent(menu.id)" ><a><span class="fa fa-university"></span>{{menu.description}}</a>
                                <ul style="list-style-type: none;">

                                    <ng-container *ngFor="let term of menu.term ; let i2 = index" >
                                            
                                        <li   style="cursor: pointer; "><a    (click)="openContentByTab(term.id,i)"  >{{term.name}}</a> </li>
                                    
                                    </ng-container>    

                                    
                                </ul>
                            </li>
                                            
                        </ng-container>
                    </ul>   

                </div>
                       
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 contenido">
                
                    <!-- CONTENIDO SECCIÓN -->
                    <h2 class="titulo-secundario color-azulmedio"> {{titleFiles}} </h2>
                    <div  *ngIf= "compFileView">
                        <div class="bloque-contenido row" *ngFor="let document of pagedItems | orderBy: key : reverse | filter:filtered; let i = index">
                            <div class="col-xs-7 col-sm-9 col-md-9 col-lg-10">
                                <a  class="titulo-terciario"  href="{{document.fields[1].value}}" download>{{document.title}}</a>
                                <p class="color-grismedio">{{document.type}}PDF - 130Kb{{document.size}}</p>
                            </div>
                            <div class="col-xs-5 col-sm-3 col-md-3 col-lg-2">
                                <a class="simple-btn derecha" href="{{document.fields[1].value}}" download>
                                Baixar <span class="flecha"><svg class="flecha-abajo" viewBox="0 0 8 4"><use xlink:href="assets/images/sprites.svg#flecha-abajo"></use></svg></span>
                                </a>
                            </div>
                        </div>
                        <div class="btn-home">
                            <button type="submit" class="btn center-block " style="margin-right: 0px !important; color: #D4155B;" (click)="goBack()" >Home Resource Center <span class="glyphicon glyphicon-menu-right flecha" style="top: 2px;" ></span></button>
                        </div>
                        <div class="controles">
                            <br>
                            <h4 class="titulo-terciario centro color-grismedio">PÁGINAS </h4>
                            <!-- pager -->
                            <div *ngIf="pager.pages && pager.pages.length" class="numeros" >
                
                                <a (click)="setPage(pager.currentPage - 1)" [ngClass]="{disabled:pager.currentPage === 1}" >
                                    <span class="flecha">
                                    <svg class="flecha-abajo" viewBox="0 0 4 8">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprites.svg#flecha-izquierda"></use>
                                    </svg>
                                    </span></a>
                                <button *ngFor="let page of pager.pages" (click)="setPage(page)" type="button" class="btn amarillo_btn" [ngClass]="{active:pager.currentPage === page}">
                                    {{page}}
                                </button>
                                <a (click)="setPage(pager.currentPage + 1)" [ngClass]="{disabled:pager.currentPage === pager.totalPages}"><span class="flecha"><svg class="flecha-abajo" viewBox="0 0 4 8"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span></a>
                            </div>
                        </div>
                    </div>
                    
                    <div  *ngIf= "!compFileView">
                        <div class="bloque-contenido row">
                            <p>Conteúdo em breve</p>
                        </div>
                        <button type="submit" class="btn center-block " style="margin-right: 0px !important; color: #D4155B; margin-top: 10px;" (click)="goBack()" >Home Resource Center <span class="glyphicon glyphicon-menu-right flecha" style="top: 2px;" ></span></button>
                    </div>

                </div>
            </div>                  
        </div>
    </div>
   
</div>