@-webkit-keyframes slidein {
    0% { opacity: 1; display: block}
    30% { opacity: .7; }
    100% { opacity: 0; display: none }
}

@-moz-keyframes slidein {
    0% { opacity: 1; display: block}
    30% { opacity: .7; }
    100% { opacity: 0; display: none }
}

@-o-keyframes slidein {
    0% { opacity: 1; display: block }
    30% { opacity: .7; }
    100% { opacity: 0; display: none }
}

@keyframes slidein {
    0% { opacity: 1; display: block}
    30% { opacity: .7; }
    100% { opacity: 0; display: none }
}

.alert-fixed {
    position: fixed;
    right: 0;
    z-index: 9999;
    bottom: 25%;
    -webkit-animation: slidein 5s ease 1 normal;
       -moz-animation: slidein 5s ease 1 normal;
         -o-animation: slidein 5s ease 1 normal;
            animation: slidein 5s ease 1 normal;
}