<div class="modal-dialog modal-recursos modal-banner">
    <div class="modal-content modal-contenido">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()">&times;</button>
            <h4 class="modal-title">{{ title }}</h4>
        </div>
        <form id="bannerForm" class="banner-modal" (ngSubmit)="f.form.valid && save()" #f="ngForm">
            <div class="modal-body type">
                <div>
                    <div class="input-s">     
                        <input type="text" id="title" name="title" required="{{ required.title }}" [(ngModel)]="bannersForm.title" #titulo="ngModel" class="form-control"
                            placeholder="Titulo">                            
                        <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)" class="alert alert-danger">
                            <div *ngIf="titulo.errors.required">
                                O título é obrigatório.
                            </div>
                        </div>
                    </div>
                    <div class="input-s">
                        <input type="text" id="body" name="body" required="{{ required.body }}" [(ngModel)]="bannersForm.body" #body="ngModel" class="form-control"
                            placeholder="Texto">
                        <div *ngIf="body.invalid && (body.dirty || body.touched)" class="alert alert-danger">
                            <div *ngIf="body.errors.required">
                                O corpo é necessário.
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="a-group">
                        <div  id="image1-z" class="zona-activa">
                            <div class="instrucciones">
                                <p class="principal">Arraste aqui ou seleccionar imagens do seu computador que você deseja carregar...</p>
                                <p class="secundario">Recomendaciones para subir las fotos sopa de graduação de tomate. Cada elemento leo muita proteína.</p>
                                <a href="#" data-dismiss="modal" class="boton-magenta" data-toggle="modal" data-target="#visualizar">Adicionar Imagen</a>
                            </div>
                            <img alt="" title="" />
                        </div>
                        <input type="file" (change)="handleImage($event,'#image1-z')" [attr.data-id]="bannersForm.idImage1" name="image1" id="image1" value="" [(ngModel)]="bannersForm.image1" #image1="ngModel" required="{{ required.image1 }}" class="form-control-file form-control"
                        />
                        <div *ngIf="image1.invalid && (image1.dirty || image1.touched)" class="alert alert-danger">
                            <div *ngIf="image1.errors.required">
                                A imagem 1 é necessária.
                            </div>
                        </div>
                    </div>
                    <div class="a-group">
                             <div id="image2-z" class="zona-activa">
                                    <div class="instrucciones">
                                        <p class="principal">Arraste aqui ou seleccionar imagens do seu computador que você deseja carregar...</p>
                                        <p class="secundario">Recomendaciones para subir las fotos sopa de graduação de tomate. Cada elemento leo muita proteína.</p>
                                        <a href="#" data-dismiss="modal" class="boton-magenta" data-toggle="modal" data-target="#visualizar">Adicionar Imagen</a>                         
                                    </div>
                                    <img alt="" title="" />
                                </div>
                        <input type="file" (change)="handleImage($event,'#image2-z')" [attr.data-id]="bannersForm.idImage2" name="image2" id="image2" value="" [(ngModel)]="bannersForm.image2" #image2="ngModel" required="{{ required.image2 }}" />
                        <div *ngIf="image2.invalid && (image2.dirty || image2.touched)" class="alert alert-danger">
                            <div *ngIf="image2.errors.required">
                                A imagem 2 é necessária.
                            </div>
                        </div>
                    </div>

                </div>
                <div *ngIf="update">
                  <input type="hidden" [(ngModel)]="bannersForm.id" #id="ngModel"  id="idBanner" name="idBanner" /> 
                </div>
                <input type="hidden" [(ngModel)]="bannersForm.contentId" #contentId="ngModel"  id="content_type" name="content_type" />
            </div>
            <div class="modal-footer">
                <button type="submit" [disabled]="!f.form.valid" class="btn btn-primary pull-right">Enviar</button>
                <button style="margin-right: 10px;" type="button" class="btn btn-default" (click)="close()" >Cancel</button>
            </div>
        </form>
    </div>
</div>