<div class="general">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="introduccion"><div class="espaciador-alto50"></div>
                        <h2 class="titulo-principal color-azulmenta">
                            <span class="logo-auto">
                                <svg class="icono_materiais" viewBox="0 0 19 21">
                                    <use xlink:href="assets/images/sprites.svg#icono-recursos"></use>
                                </svg>
                            </span>
                            Centro de Recursos
                        </h2>
                        <p>Utilize a ferramenta de pesquisa para encontrar materiais específicos sobre temas de seu interesse. </p>
                        <br>
                        <div class="container buscador">
                            <div class="col-xs-8 col-sm-4 col-lg-6 col-xs-push-2 col-lg-push-0">
                                <!--p class="derecho titulo-terciario color-azulmedio">PESQUISAR MATERIAL:  </p-->
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <form class="formulario-registro" action="">
                                    <input name="search" [(ngModel)]="filtered" type="text"  class="form-control fondo-amarillopastel" placeholder="Insira palavra chave">
                                    <button type="button" class="btn magenta_btn">
                                        <svg class="icono-buscar" viewBox="0 0 15.65 14.34"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprites.svg#icono-buscar"></use></svg>
                                    </button>
    
                                </form>
                            </div>
                            <div class="col-xs-2 col-sm-2">
                                <p> </p>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
            </div>
    
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <!-- MENU LATERAL -->
            

                <div class="menu-lateral">
                        <h4 class="titulo-secundario color-azulmedio">TEMAS</h4>
                        <hr>
                        <div class="seccion activo">
                            <a class="categoria" (click)="sort('Direitos da Crianças e do Adolescente')" >
                                <span class="titulo color-azulauxiliar">Direitos da Crianças e do Adolescente</span>
                                <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
                            </a>
                        </div>
                        <div class="subseccion">
                                <div  class="seccion activo">
                                    <a class="categoria" >
                                        <span class="titulo color-azulauxiliar">Empresas e Direitos Humanos</span>
                                        <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
                                    </a>
                                </div>
                                <div class="seccion">
                                    <a class="categoria" href="#!">
                                        <span class="titulo color-azulauxiliar">Empresas e Direitos Humanos</span>
                                        <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
                                    </a>
                                </div>
                                <div class="seccion">
                                    <a class="categoria" href="#!">
                                        <span class="titulo color-azulauxiliar">Empresas e Direitos Humanos</span>
                                        <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
                                    </a>
                                </div>
                        </div>
                        <div class="seccion">
                            <a class="categoria" href="#!">
                                <span class="titulo color-azulauxiliar">Formação de Atletas</span>
                                <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
                            </a>
                            
                        </div>
                            
                            
                        <div class="seccion">
                            <a class="categoria" href="#!">
                                <span class="titulo color-azulauxiliar"  >Institucional</span>
                                <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
                            </a>
                        </div>
                        <div class="seccion">
                            <a class="categoria" href="#!">
                                <span class="titulo color-azulauxiliar">Legislação</span>
                                <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
                            </a>
                        </div>
                    
                    </div>
                </div>
               
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 contenido">
                        <th (click)="sort('title')">Filtrar titulo</th>
                                <!-- CONTENIDO SECCIÓN -->
                                <h2 class="titulo-secundario color-azulmedio">Direitos da CriançaS e do Adolescente</h2>
                                    <div class="bloque-contenido row" *ngFor="let document of pagedItems | orderBy: key : reverse | filter:filtered; let i = index">
                                        <div class="col-xs-7 col-sm-9 col-md-9 col-lg-10">
                                            <a  class="titulo-terciario"  href="{{document.link}}" downloa>{{document.title}}</a>
                                            <p class="color-grismedio">{{document.type}} - {{document.size}}</p>
                                        </div>
                                        <div class="col-xs-5 col-sm-3 col-md-3 col-lg-2">
                                            <a class="simple-btn derecha" href="{{document.link}}" download>
                                            Baixar <span class="flecha"><svg class="flecha-abajo" viewBox="0 0 8 4"><use xlink:href="assets/images/sprites.svg#flecha-abajo"></use></svg></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="controles">
                                    <br>
                                        <h4 class="titulo-terciario centro color-grismedio">PÁGINAS </h4>
                                          <!-- pager -->
                                                <div *ngIf="pager.pages && pager.pages.length" class="numeros" >
                                                   <!--    <button (click)="setPage(1)" type="button" class="btn amarillo_btn" [ngClass]="{disabled:pager.currentPage === 1}">
                                                        Primero
                                                    </button>-->
                                                   

                                                    <a (click)="setPage(pager.currentPage - 1)" [ngClass]="{disabled:pager.currentPage === 1}" >
                                                        <span class="flecha">
                                                        <svg class="flecha-abajo" viewBox="0 0 4 8">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprites.svg#flecha-izquierda"></use>
                                                        </svg>
                                                        </span></a>
                                                    <button *ngFor="let page of pager.pages" (click)="setPage(page)" type="button" class="btn amarillo_btn" [ngClass]="{active:pager.currentPage === page}">
                                                        {{page}}
                                                    </button>
                                                
                                                    <a (click)="setPage(pager.currentPage + 1)" [ngClass]="{disabled:pager.currentPage === pager.totalPages}"  ><span class="flecha"><svg class="flecha-abajo" viewBox="0 0 4 8"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span></a>
                                         
                                                    
                                                <!--    <button (click)="setPage(pager.totalPages)" type="button" class="btn amarillo_btn" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                                        Ultimo
                                                    </button>-->
                                                </div>
                                
                        
                                    </div>
                                </div>
            </div>
    
    
        </div>
    </div>
    