<ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(255,255,255,1)' }"></ngx-loading>
<section class="banner-principal container-fluid desktop">
	 <div class="presentacion" *ngIf="slide_cont">  
		<div class="personaje">
			<img src="{{environmentYT}}{{banner_1}}" alt=""> 
		</div>
		<div class="fondo-azul">
			<p class="superior">BEM VINDO À PLATAFORMA</p>
			<p class="inferior">{{slide_cont.title}}</p>
		</div>
		<div class="fondo-blanco">
			<p>{{slide_cont.body}}</p>
		</div>
	</div>
</section>
<section class="banner-principal container-fluid tablet">
	 <div class="presentacion" *ngIf="slide_cont">
		<div class="personaje">
			<img src="{{banner_1}}" alt=""> 
		</div>
		<div class="fondo-azul">
			<p class="superior">BEM VINDO À PLATAFORMA</p>
			<p class="inferior">{{slide_cont.title}}</p>
		</div>
		<div class="fondo-blanco">
			<p>{{slide_cont.body}}</p>
		</div>
	</div>
</section>
<section class="container-fluid mobile fondo-responsive" *ngIf="slide_cont" style="background-image: url({{environmentYT}}{{banner_1}})">
	<div class="fondo-azul" >
		<p class="superior">BEM VINDO À PLATAFORMA</p>
		<p class="inferior">{{slide_cont.title}}</p>
	</div>
	<div class="fondo-blanco">
		<p>{{slide_cont.body}}</p>
	</div>
</section>

<section class="contenido container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 .col-lg-4 categoria programa">
			<div class="franja relleno-azul-oscuro"></div>
			<div class="icono relleno-azul-oscuro" (click)="closedLogin()"  [routerLink]="['/jogue_limpo/program']">
				<svg  x="0px" y="0px" viewBox="0 0 57 58">
					<path class="balon" d="M41.1,0.8c-0.1,0-0.2-0.1-0.3-0.1c-1.5-0.4-3.1-0.6-4.7-0.6c-11.4,0-20.6,9.3-20.6,20.6,c0,11.4,9.3,20.6,20.6,20.6c11.4,0,20.6-9.3,20.6-20.6C56.7,11.1,50,3,41.1,0.8z M31.9,38.2l0.8-0.7c0.3-0.3,0.4-0.6,0.4-1,s-0.2-0.7-0.4-1L28,31.3c-0.2-0.2-0.5-0.3-0.7-0.3L21,30.2c-0.1,0-0.1,0-0.2,0c-1-1.6-1.7-3.3-2.1-5.1l1.8-0.1,c0.6,0,1-0.4,1.2-0.9l2-6.2c0.1-0.3,0.1-0.6,0-0.8l-2-6.2c0-0.1-0.1-0.2-0.2-0.3c1.8-2.5,4.2-4.6,7.1-5.9v0.1,C28.7,5,29,5.3,29.4,5.5l6.2,2c0.1,0,0.3,0.1,0.4,0.1c0.1,0,0.3,0,0.4-0.1l6.2-2C43,5.4,43.3,5,43.5,4.6c0,0,0,0,0-0.1,c2.9,1.3,5.4,3.4,7.2,6.1c0,0.1-0.1,0.1-0.1,0.2l-2,6.2c-0.1,0.3-0.1,0.5,0,0.8l2,6.2c0.2,0.5,0.6,0.8,1.1,0.9l1.6,0.3,c-0.4,1.8-1.2,3.4-2.1,5c-0.1,0-0.1,0-0.2,0L44.7,31c-0.3,0-0.5,0.2-0.7,0.3l-4.7,4.3c-0.3,0.3-0.4,0.6-0.4,1s0.1,0.7,0.4,1,l0.8,0.7c-1.3,0.3-2.7,0.5-4.1,0.5C34.6,38.7,33.3,38.5,31.9,38.2z"/>
					<path class="balon" d="M41.7,26l2.7-8.4c0.2-0.6,0-1.2-0.5-1.5l-7.1-5.2c-0.5-0.3-1.1-0.3-1.6,0l-7.1,5.2c-0.5,0.3-0.7,1-0.5,1.5,l2.7,8.4c0.2,0.6,0.7,0.9,1.3,0.9h8.8C41,26.9,41.5,26.5,41.7,26z"/>
					<path class="linea" d="M14.2,36.7L2.8,48.2c-0.4,0.4-1.1,0.4-1.5,0l-0.7-0.7c-0.4-0.4-0.4-1.1,0-1.5l11.5-11.5c0.4-0.4,1.1-0.4,1.5,0,l0.7,0.7C14.6,35.6,14.6,36.3,14.2,36.7z"/>
					<path class="linea" d="M23.6,46.1L12.1,57.6c-0.4,0.4-1.1,0.4-1.5,0L10,56.9c-0.4-0.4-0.4-1.1,0-1.5l11.5-11.5c0.4-0.4,1.1-0.4,1.5,0,l0.7,0.7C24,45,24,45.7,23.6,46.1z"/>
					<path class="linea" d="M18.9,41.4L2.8,57.6c-0.4,0.4-1.1,0.4-1.5,0l-0.7-0.7c-0.4-0.4-0.4-1.1,0-1.5l16.2-16.2c0.4-0.4,1.1-0.4,1.5,0,l0.7,0.7C19.3,40.3,19.3,41,18.9,41.4z"/>
				</svg>
			</div>
			<h1 class="titulo color-azul-oscuro" (click)="closedLogin()"  [routerLink]="['/jogue_limpo/program']">{{programTitle}}</h1>
			<p class="descripcion">{{programBody}}</p>
			<a type="button" (click)="closedLogin()"  [routerLink]="['/jogue_limpo/program']" class="boton-categoria linea-azul-oscuro color-azul-oscuro">CONHECER</a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 .col-lg-4 categoria autodiagnostico">
			<div class="franja relleno-azul-medio"></div>
			<div class="icono relleno-azul-medio" (click)="closedLogin()"  [routerLink]="['/autodiagnostic']">
				<svg x="0px" y="0px" viewBox="0 0 57 58">
					<path class="uno" style="fill:#FFFFFF;" d="M49.1,7.7H8c-0.6,0-1.1,0.5-1.1,1.1v1c0,0.6,0.4,1.1,1,1.1h41.2c0.6,0,1.1-0.5,1.1-1.1v-1,C50.2,8.2,49.7,7.7,49.1,7.7z"/>
					<path class="dos" style="fill:#FFFFFF;" d="M49.1,47.1H8c-0.6,0-1.1,0.5-1.1,1.1v1c0,0.6,0.4,1.1,1,1.1h41.2c0.6,0,1.1-0.5,1.1-1.1v-1,C50.2,47.6,49.7,47.1,49.1,47.1z"/>
					<path class="tres" style="fill: #FFFFFF" d="M49.1,15.6H8c-0.6,0-1.1,0.5-1.1,1.1v1c0,0.6,0.4,1.1,1,1.1h11.9c-1.5,1.3-2.7,2.9-3.5,4.7H8.5,c-0.9,0-1.6,0.7-1.6,1.6c0,0.9,0.7,1.6,1.6,1.6h6.8c-0.1,0.7-0.2,1.5-0.2,2.3c0,0.8,0.1,1.6,0.2,2.4c-3,0-6.8,0-6.8,0,c-0.9,0-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6h7.8c0.8,1.8,2,3.3,3.5,4.6H8c-0.6,0-1.1,0.5-1.1,1.1v1c0,0.6,0.4,1.1,1,1.1h41.2,c0.6,0,1.1-0.5,1.1-1.1v-1c0-0.6-0.5-1.1-1.1-1.1H37.2c1.5-1.3,2.7-2.8,3.5-4.6h7.9c0.9,0,1.6-0.7,1.6-1.6s-0.8-1.6-1.7-1.6h-6.8,c0.1-0.8,0.2-1.6,0.2-2.4c0-0.8-0.1-1.6-0.2-2.4h6.8c0.9,0,1.6-0.7,1.6-1.6s-0.7-1.6-1.6-1.6h-7.8c-0.8-1.8-2-3.3-3.5-4.6h11.9,c0.6,0,1.1-0.5,1.1-1.1v-1C50.2,16.1,49.7,15.6,49.1,15.6z M38.4,26.6h0.1c0.2,0.8,0.3,1.6,0.3,2.4c0,0.8-0.1,1.6-0.3,2.4h0,c-0.2,0.8-0.5,1.5-0.8,2.2c-1.5,3-4.4,5.1-7.8,5.6h-2.7c-3.1-0.4-5.7-2.1-7.3-4.6h0c-0.6-1-1.1-2-1.3-3.2c0,0-0.1,0-0.1,0,c-0.2-0.8-0.3-1.6-0.3-2.4c0-0.8,0.1-1.6,0.3-2.3h0.1c0.3-1.1,0.7-2.2,1.3-3.2h-0.1c1.6-2.5,4.2-4.3,7.3-4.7h2.7,c3.1,0.4,5.7,2.1,7.3,4.6h0C37.7,24.4,38.2,25.4,38.4,26.6z"/>
					<path class="chulito" style="fill: #FFFFFF;" d="M27.4,36.8c-0.8,0-1.4-0.4-1.8-1.1L23,29.8c-0.4-1,0-2.1,1-2.5s2.1,0,2.5,1l0.8,1.8l3.1-7.7,c0.4-1,1.5-1.4,2.5-1c1,0.4,1.4,1.5,1,2.5l-4.8,11.8C29,36.3,28.3,36.8,27.4,36.8z"/>
				</svg>
			</div>
			<h1 class="titulo color-azul-medio" (click)="closedLogin()"  [routerLink]="['/autodiagnostic']">{{authTitle}}</h1>
			<p class="descripcion">{{authBody}}</p>
			<a type="button" (click)="closedLogin()"  [routerLink]="['/autodiagnostic']" class="boton-categoria linea-azul-medio color-azul-medio">INICIAR</a> 
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 .col-lg-4 categoria recursos">
			<div class="franja relleno-azul-claro"></div>
			<div class="icono relleno-azul-claro" [routerLink]="['/jogue_limpo/resource-center']" (click)="closedLogin()">
				<svg x="0px" y="0px" viewBox="0 0 57 58">
					<path class="piso" d="M26.9,38.9c-5.1,0.4-9.9,2.5-13.7,6l-8.9-4.6c-0.8-0.4-1.8-0.1-2.2,0.7S2,42.8,2.8,43.2l25,12.8,c0.2,0.1,0.5,0.2,0.7,0.2s0.5-0.1,0.7-0.2l25-12.8c0.8-0.4,1.1-1.3,0.7-2.1c-0.4-0.8-1.4-1.1-2.2-0.7L43.8,45,c-3.7-3.6-8.5-5.7-13.7-6L26.9,38.9z M30.1,42.2c3.9,0.3,7.6,1.8,10.6,4.4l-12.2,6.2l-12.2-6.2c3-2.5,6.7-4,10.6-4.4H30.1z"/>
					<path class="bandera" d="M50.5,11.4L30.3,4.8V3.9c0-0.9-0.7-1.6-1.6-1.6S27.1,3,27.1,3.9v45.2c0,0.9,0.7,1.6,1.6,1.6s1.6-0.7,1.6-1.6,V21.2l20.3-6.7C52,14,52,11.9,50.5,11.4z M30.3,17.8V8.1L44.9,13L30.3,17.8z"/>
				</svg>
			</div>
			<h1 class="titulo color-azul-claro" [routerLink]="['/jogue_limpo/resource-center']" (click)="closedLogin()">{{resourceTitle}}</h1>
			<p class="descripcion">{{resourceBody}}</p>
			<button [routerLink]="['/jogue_limpo/resource-center']" (click)="closedLogin()" type="button" class="boton-categoria linea-azul-claro color-azul-claro">EXPLORAR</button>
		</div>
	</div>




	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 .col-lg-12 pregunta">
			<button type="button" class="boton-rosado" data-toggle="modal" data-target="#inscripcion">TEM INTERESSE EM PARTICIPAR DO PROGRAMA?</button>
		</div>
	</div>
</section>
<section class="container-fluid articulos desktop">
	<div class="container">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		   <div class="carousel-inner">
				<ng-container  *ngFor="let notice of notices_cont ; let i = index" >
					<ng-container *ngIf="i % 2 === 0">
						<div *ngIf="i==0" class="col-xs-12 col-sm-12 col-md-12 .col-lg-12 articulo item active">
							<div class="fondo">
								<div class="col-xs-12 col-sm-4 col-md-4 .col-lg-4 imagen">
									<img class="img-responsive" src="{{environmentYT}}{{notice.fields[0].value}}" alt="">
								</div>
								<div class="col-xs-12 col-sm-8 col-md-8 .col-lg-8 informacion" *ngIf="notice">
									<h3 class="titulo">{{notice.title}}</h3>
									<p class="fecha">{{notice.fields[2].value}}</p>
									<p class="descripcion">{{notice.body}}</p>
									<a class="vinculo" target="_blank" href="{{notice.fields[1].value}}">Ver mais<svg class="flecha-ver"><path d="M3 0v2.4L5.6 5 3 7.6V10l5-5 M0 1v1.9L2.1 5 0 7.1V9l4-4"/></svg></a>
								</div>
							</div>
							<div class="fondo" *ngIf="notices_cont[i+1]">
								<div class="col-xs-12 col-sm-4 col-md-4 .col-lg-4 imagen">
									<img class="img-responsive" src="{{environmentYT}}{{notices_cont[i+1].fields[0].value}}" alt="">
								</div>
								<div class="col-xs-12 col-sm-8 col-md-8 .col-lg-8 informacion" *ngIf="notice">
									<h3 class="titulo">{{notices_cont[i+1].title}}</h3>
									<p class="fecha">{{notices_cont[i+1].fields[2].value}}</p>
									<p class="descripcion">{{notices_cont[i+1].body}}</p>
									<a class="vinculo" target="_blank" href="{{notices_cont[i+1].fields[1].value}}" >Ver mais<svg class="flecha-ver"><path d="M3 0v2.4L5.6 5 3 7.6V10l5-5 M0 1v1.9L2.1 5 0 7.1V9l4-4"/></svg></a>
								</div>
							</div>
						</div>

						<div *ngIf="i!=0" class="col-xs-12 col-sm-12 col-md-12 .col-lg-12 articulo item">
							<div class="fondo">
								<div class="col-xs-12 col-sm-4 col-md-4 .col-lg-4 imagen">
									<img class="img-responsive" src="{{environmentYT}}{{notice.fields[0].value}}" alt="">
								</div>
								<div class="col-xs-12 col-sm-8 col-md-8 .col-lg-8 informacion">
									<h3 class="titulo">{{notice.title}}</h3>
									<p class="fecha">{{notice.fields[2].value}}</p>
									<p class="descripcion">{{notice.body}}</p>
									<a class="vinculo" target="_blank" href="{{notice.fields[1].value}}">Ver mais<svg class="flecha-ver"><path d="M3 0v2.4L5.6 5 3 7.6V10l5-5 M0 1v1.9L2.1 5 0 7.1V9l4-4"/></svg></a>
								</div>
							</div>
							<div class="fondo" *ngIf="notices_cont[i+1]">
								<div class="col-xs-12 col-sm-4 col-md-4 .col-lg-4 imagen">
									<img class="img-responsive" src="{{environmentYT}}{{notices_cont[i+1].fields[0].value}}" alt="">
								</div>
								<div class="col-xs-12 col-sm-8 col-md-8 .col-lg-8 informacion">
									<h3 class="titulo">{{notices_cont[i+1].title}}</h3>
									<p class="fecha">{{notices_cont[i+1].fields[2].value}}</p>
									<p class="descripcion">{{notices_cont[i+1].body}}</p>
									<a class="vinculo" target="_blank" href="{{notices_cont[i+1].fields[1].value}}">Ver mais<svg class="flecha-ver"><path d="M3 0v2.4L5.6 5 3 7.6V10l5-5 M0 1v1.9L2.1 5 0 7.1V9l4-4"/></svg></a>
								</div>
							</div>
						</div>
					</ng-container>
				</ng-container>
				<!-- Left and right controls -->
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">
					  <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
					</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">
					  <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
					</a>
			</div>	
		</div>	 
	</div>
</section>
<section class="tablet articulos col-xs-12 col-sm-12 col-md-12 .col-lg-12">
	<div id="carrusel-articulos" class="carousel slide" data-ride="carousel">
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<ng-container  *ngFor="let notice of notices_cont ; let i = index" >
		<div class="item active">
			<div class="col-xs-12 col-sm-12 col-md-6 .col-lg-6 articulo">
				<div class="fondo">
					<div class="col-xs-12 col-sm-4 col-md-4 .col-lg-4 imagen">
						<img class="img-responsive" src="{{environmentYT}}{{ notice.fields[0].value }}" alt="">
					</div>
					<div class="col-xs-12 col-sm-8 col-md-8 .col-lg-8 informacion" *ngIf="notice">
						<h3 class="titulo">{{notice.title}}</h3>
						<p class="fecha">{{notice.fields[2].value}}</p>
						<p class="descripcion">{{notice.body}} </p>
						<a class="vinculo" target="_blank" href="{{notice.fields[1].value}}">Ver mais<svg class="flecha-ver"><path d="M3 0v2.4L5.6 5 3 7.6V10l5-5 M0 1v1.9L2.1 5 0 7.1V9l4-4"/></svg></a>
					</div>
				</div>
			</div>
		</div>
	</ng-container>
		


	
	</div>
	<!-- Left and right controls -->
	<!-- <a class="left carousel-control" href="#carrusel-articulos" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carrusel-articulos" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		<span class="sr-only">Next</span>
	</a> -->
	</div>
</section>
<section class="mobile articulos col-xs-12 col-sm-12 col-md-12 .col-lg-12">
	<div id="carrusel-articulos-2" class="carousel slide" data-ride="carousel">
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<ng-container  *ngFor="let notice of notices_cont ; let i = index" >
		<div class="item active">
			<div class="col-xs-12 col-sm-12 col-md-6 .col-lg-6 articulo">
				<div class="fondo">
					<div class="col-xs-12 col-sm-4 col-md-4 .col-lg-4 imagen">
						<img class="img-responsive" src="{{environmentYT}}{{ notice.fields[0].value }}" alt="">
					</div>
					<div class="col-xs-12 col-sm-8 col-md-8 .col-lg-8 informacion" *ngIf="notice">
						<h3 class="titulo">{{notice.title}}</h3>
						<p class="fecha">{{notice.fields[2].value}}</p>
						<p class="descripcion">{{notice.body}} </p>
						<a class="vinculo" target="_blank" href="{{notice.fields[1].value}}" >Ver mais<svg class="flecha-ver"><path d="M3 0v2.4L5.6 5 3 7.6V10l5-5 M0 1v1.9L2.1 5 0 7.1V9l4-4"/></svg></a>
					</div>
				</div>
			</div>
		</div>
	</ng-container>
   </div>
	<!-- Left and right controls -->
	<!-- <a class="left carousel-control" href="#carrusel-articulos-2" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carrusel-articulos-2" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		<span class="sr-only">Next</span>
	</a> -->
	</div>
</section>

<app-contact></app-contact>