<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 contenido">
  
        <!-- CONTENIDO SECCIÓN -->
        <h2 class="titulo-secundario color-azulmedio">Direitos da CriançaS e do Adolescente</h2>
            <div class="controles">
            <br>
                <h4 class="titulo-terciario centro color-grismedio">PÁGINAS </h4>
                    <div class="numeros">
                        <a href="#!">
                            <span class="flecha">
                            <svg class="flecha-abajo" viewBox="0 0 4 8">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprites.svg#flecha-izquierda"></use>
                            </svg>
                            </span>
                        </a>
                        <button type="button" class="btn amarillo_btn" title="Tema 1: Garantia do bem estar das crianças e adolescentes atletas">1</button>
                        <button type="button" class="btn amarillo_btn">2</button>
                        <button type="button" class="btn amarillo_btn">3</button>
                        <button type="button" class="btn amarillo_btn">4</button>
                        <button type="button" class="btn amarillo_btn">5</button>
                        <button type="button" class="btn amarillo_btn">6</button>
                        <button type="button" class="btn amarillo_btn">7</button>
                        <button type="button" class="btn amarillo_btn">8</button>
                        <button type="button" class="btn amarillo_btn">9</button>
                        <button type="button" class="btn amarillo_btn">10</button>
                        <a href="#!"><span class="flecha"><svg class="flecha-abajo" viewBox="0 0 4 8"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span></a>
                    </div>
            </div>
        </div>