<ngx-loading [show]="!section || loading" ></ngx-loading>
<div class="introduccion" *ngIf="section">
    <h2 class="titulo-principal color-azulmenta"><span class="logo-auto"><svg class="flecha-abajo" viewBox="0 0 20 20"><use xlink:href="assets/images/sprites.svg#auto_logo"></use></svg></span>{{description.title}}</h2>
    <div *ngIf="step==1 || step==2" [innerHTML]="description.body"></div>  
</div>

<div class="autodiagnostico-etapas" *ngIf="section">
    <div class="fases-etapas">

        <div class="etapa etapa-actual">
            <div class="indicador-etapa etapa-inicio"  [class]="step==1? 'step-active':''" [ngClass]="{'inactivo':step!=1}"></div>
            <div [class]="step<=1? 'linea-inicio':'linea-passed'"></div>
            <p class="nombre-etapa">Perfil</p>
        </div>


        <div class="etapa-listado">
            <div class="fase-etapa">
                <div class="linea-etapa" [ngClass]="{'lineapisada':step>2}"></div>
                <div class="indicador-actual" [class]="step==2? 'step-active':'indicador-actual'" [ngClass]="{'inactivo2':step>2}"></div>
            </div>

            <div class="fase-etapa">
                <div class="linea-etapa" [ngClass]="{'lineapisada':step>3}"></div>
                <div class="indicador-actual" [class]="step==3? 'step-active':'indicador-actual'" [ngClass]="{'inactivo2':step>3}"></div>
            </div>

            <div class="fase-etapa">
                <div class="linea-etapa" [ngClass]="{'lineapisada':step>4}"></div>
                <div class="indicador-actual" [class]="step==4? 'step-active':'indicador-actual'" [ngClass]="{'inactivo2':step>4}">
                </div>
            </div>

            <div class="fase-etapa">
                <div class="linea-etapa" [ngClass]="{'lineapisada':step>5}"></div>
                <div class="indicador-actual" [class]="step==5? 'step-active':'indicador-actual'" [ngClass]="{'inactivo2':step>4}">
                </div>
            </div>

            <div class="fase-etapa">
                <div class="linea-etapa" [ngClass]="{'lineapisada':step>6}"></div>
                <div class="indicador-actual" [class]="step==6? 'step-active':'indicador-actual'" [ngClass]="{'inactivo2':step>5}">
                </div>
            </div>

            <div class="fase-etapa">
                <div class="linea-etapa" [ngClass]="{'lineapisada':step>7}"></div>
                <div class="indicador-actual" [class]="step==7? 'step-active':'indicador-actual'" [ngClass]="{'inactivo2':step>6}">
                </div>
            </div>

            <div class="fase-etapa">
                <div class="linea-etapa" [ngClass]="{'lineapisada':step>8}"></div>
                <div class="indicador-actual" [class]="step==8? 'step-active':'indicador-actual'" [ngClass]="{'inactivo2':step>7}">
                </div>
            </div>

            <div class="fase-etapa">
                <div class="linea-etapa" [ngClass]="{'lineapisada':step>9}"></div>
                <div class="indicador-actual" [class]="step==9? 'step-active':'indicador-actual'" [ngClass]="{'inactivo2':step>8}">
                </div>
            </div>

            <div class="fase-etapa">
                <div class="linea-etapa" [ngClass]="{'lineapisada':step>10}"></div>
                <div class="indicador-actual" [class]="step==10? 'step-active':'indicador-actual'" [ngClass]="{'inactivo2':step>9}">
                </div>
            </div>

            <div class="fase-etapa">
                <div class="linea-etapa" [ngClass]="{'lineapisada':step>11}"></div>
                <div class="indicador-actual" [class]="step==11? 'step-active':'indicador-actual'" [ngClass]="{'inactivo2':step>10}">
                </div>
            </div>
            <p class="nombre-etapa-indicador">Seção {{step}}</p>
        </div>

        <div class="etapa etapa-final">
            <div class="indicador-etapa"></div>
            <div class="linea-fin"></div>
            <p class="nombre-etapa">Fim</p>
        </div>
    </div>
</div>

<div class="autodiagnostico-caso" *ngIf="section">
    <h3 class="titulo-secundario centro color-blanco fondo-azulauxiliar">Tema {{section.id}}: {{section.name}}</h3>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 autodiagnostico-caso-informacion">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 caja-izquierda">
            <p class="parrafo color-grismedio">Esta seção é composta por 44 perguntas voltadas a identificar as práticas e políticas adotadas pelo clube. Escolha a resposta que mais se aproxima à realidade atual do clube.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 caja-derecha">
            <span class="texto">Tempo de<br>conclusão</span>
            <span class="cronometro"><svg class="tiempo_10" viewBox="0 1.2 12 9"><use xlink:href="assets/images/sprites.svg#tiempo_10"></use></svg></span>
        </div>
    </div>
    <div class="autodiagnostico-cuestionario">
        <form class="formly" role="form" novalidate [formGroup]="form"  (submit)="submit(autodiagnosticModel)" >
            <formly-form [model]="autodiagnosticModel" [fields]="autFields" [form]="form" [options]="options">
                <button [hidden]="step==1" (click)="previousStep(step-1)" class="simple-btn color-azulmedio"><span class="flecha relleno-azulmedio"><svg class="flecha-izquierda" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-izquierda"></use></svg></span> Voltar</button>
                <div class="derecha">
                    <button *ngIf="step!=11" type="submit" (click)="nextStep(step+1);" class="btn amarillo_btn">Próximo <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span></button>
                    <button *ngIf="step==11" type="submit" (click)="nextStep(step+1);" class="btn amarillo_btn">Finalizar <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span></button>
                    <!--div class="temas color-grismedio"><span> Tema {{step}} de {{totalSteps}}</span></div-->
                </div>
            </formly-form>
        </form>
        <div class="controles">
        
        
    </div>
    </div>
</div>