.loggedIn .navbar-default .navbar-nav>li>a {
    color: #FFF;
    padding-top: 5px;
    padding-bottom: 5px; 
}
.loggedIn .navbar-default{
    background-color: #0099ff;
    border-color: #0099ff;
    border-radius: 0;
}
.loggedIn .navbar{
    min-height: auto;
}
.restore input{
    width: auto !important;
}

.flecha .flecha.arriba{
    transform:rotateZ(-90deg) !important;
}
.item-desplegable .vinculo .flecha.abajo .flecha-abajo{
    width: 12px !important;
    float: left;
    transform: rotateZ(180deg);
}

.btn-primary-outline {
    background-color: transparent;
    border: 0;
    color: #FFF;
    transition: .3s ease;
}
.btn-primary-outline:hover, .btn-primary-outline:active, .btn-primary-outline:focus{
    background-color: rgba(120, 183, 224, 0.74);
    color: #FFF;
    border-radius: 0;
}
.show {
    opacity: 1;
}

.simple-notification .icon svg {
    max-width: 100%;
    max-height: 100%;
    float: none;
    width: auto !important;
    height: auto !important;
}
.cabezote .primario {
    margin-bottom: 3%;
}

.step-passed{
    background-color: #d2155b; border-radius: 50%; height: 10px; margin: 4px auto 5px auto; width: 10px;
}
.linea-passed{
    border-top: 3px solid #d33c5b; width: 62px; position: relative; top: -12px; left: 30px;
}
.step-active{
    background-color: #1b1464; border: 5px solid #d2155b; border-radius: 50%; height: 18px; margin: -9px auto 5px auto; width: 18px;
}
 
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}

.modal-contenido .zona-activa {
    background-image: url('../images/fondo_camara.png');
    background-repeat: no-repeat;
    background-position: 50%;
    border: 1.6px solid #D2F3F0;
    border-radius: 5px;
    height: 310px;
    display: inline-block;
    margin-left: 30px;
    width: 100%;
}

.media-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    height: 100px;
    width: 80%;
    margin: 0 auto;

}

.media-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.media-row > [class*='col-'] .thumbnail {
    margin-bottom: 0;
    height: 100%;
    object-fit: cover;
}
.add-more-btn{
    font-size: 3rem;
    text-align: center;
}
.add-more-btn i{
    line-height: 70px;
    background: #c6c6c6;
    border-radius: 5px;
    width: 75px;
    height: 75px;
    top: -5px;
    right: 16px;
}
.dropzone {
    background-image: url(../images/fondo_camara.png);
    background-repeat: no-repeat;
    background-position: 50%;
    border: 1.6px solid #D2F3F0;
    border-radius: 5px;
    height: 310px;
    /* display: inline-block; */
    /* margin-left: 30px; */
    width: 80%;
    margin: 5% auto;
    position: relative;
    background-size: auto 80%;
    text-align: center;
}
.dropzone.documents-upload-area{
    height: 100px;
}
.dropzone input, .zona-activa input{
    height: 100%;
    opacity: 0;
    position: absolute;
    cursor: pointer;
    top: 0;
}
.zona-activa{
    position: relative;
}
.dropzone img, .dropzone video, /*.zona-activa img,*/ .zona-activa video{
    height: 100%;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #ffffff;
}
.dropzone .controles-edicion .editar-eliminar{
    background-color: #fff;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-radius: 10%;
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px solid #D5F3FF;
}
.dropzone .controles-edicion .editar-actualizar{
    background-color: #fff;
    text-align: center;
    padding: 7px 4px 4px 4px;
    border-radius: 50%;
    position: absolute;
    right: 24px;
    top: 15px;
    border: 1px solid #D5F3FF;
}
.dropzone .controles-edicion .editar, .dropzone .controles-edicion .eliminar{
    height: 1em;
    cursor: pointer;
}
#monitoringPanelModal .modal-content{
    width: 60%;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}
.dropzone .instrucciones {
    margin: 80px 40px;
}
.dropzone .instrucciones .principal {
    color: #3E5D92;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.2em;
}
.dropzone .instrucciones .secundario {
    color: #808080;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2em;
    margin-top: 5px;
}
.dropzone .instrucciones .boton-subir {
    color: #ffffff;
    background-color: #D4155B;
    font-size: 1em;
    font-weight: 400;
    padding: 12px 8px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
}
round-progress{
    margin: 0 auto;
}
.grafica{
    text-align: center;
    padding-top: 15px;
}
.grafica .small{
    font-size: 0.85rem;
}
.current{
    top: 50%;
    bottom: auto;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    font-size: 1.5rem;
    position: absolute;
    color: #192372;
    font-weight: bold;
    line-height: 1;
}
.bloque-contenido .simple-btn{
    cursor: pointer;
}
.comments{
    padding: 5%;
}
.bloque-secciones .datos-internos .dato-derecha .opcion {
    text-align: center;
    width: 45%;
    margin-top: 18px;
}
.bloque-secciones .datos-internos .dato-derecha .opcion label{
    display: block;
    width: 100%;
    text-align: center;
}
.bloque-secciones .datos-internos .dato-derecha .opcion input{
    display: block;
    margin: 0 auto;
    float: none;
}
.tab-content{
    vertical-align: top;
}
.tab-content .container-buttons {
    margin-bottom: 15px;
}
.tab-content .titulo-terciario {
    word-wrap: break-word;
}
.tab-content .boton-magenta {
    background-color: #fff;
    width: 100%;
}
.thumbnail {
    border: none;
    padding: 2px;
}
.nav-tabs.nav-justified>li {
    display: block;
    width: 100%;
}
.nav-tabs.nav-justified>li>a {
    border-radius: 0;
    text-align: left;
    color: #0F62AA;
    padding: 12px 5px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #D5F3FF;
    transition: 0.5s linear;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border-right: 0;
    border-left: 0;
    background-color: white;
    border-top: 0;
    border-bottom: 1px solid #D5F3FF;
}
.nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    color: #D4155B !important;
    text-decoration: none;
}
.nav-tabs.nav-justified{
    display: inline-block;
    width: 25%;
}
.tab-content {
    width: 74%;
    display: inline-block;
}
.comments-badge {
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}
.media-col{
    width: 105px;
    height: 75px;
    margin: 0 -4px;   
}

.nav-tabs.nav-justified>.active>a {
    border: none;
    border-bottom: 1px solid #D5F3FF;
    color: #D4155B;
    transition: none;
}
.nav-tabs>li {
    zoom: 1;
}
.nav-tabs>li>a:hover{
    background: transparent;
    color: #D4155B;
}

.nav-tabs>li::before, .container::after {
    content: "";
    display: table;
}
.nav-tabs>li::after {
    clear: both;    
}
@media only screen and (max-width : 992px) {
    #monitoringPanelModal {
        padding-right: 0 !important;
    }
    #monitoringPanelModal .modal-content {
        width: 90%;
    }
}
@media only screen and (max-width : 991px) {
    .container-buttons .text-center {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width : 768px) {
    #monitoringPanelModal .modal-content {
        width: 90%;
    }
    .container-buttons .text-center {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width : 575px) {
    .nav-tabs.nav-justified {
        width: 100%;
    }
    .tab-content{
        width: 100%;
    }
    .dropzone {
        width: 100%;
    }
    .container-buttons .text-center .simple-btn {
        width: 100%;
        display: inline-block;
    }
    .tab-content .media-row {
        width: 100%;
    }
    .comments {
        padding: 0;
    }
}
@media only screen and (max-width : 480px) {
    #monitoringPanelModal .modal-content {
        width: 100%;
    }
}
@media only screen and (max-width : 355px) {
    .dropzone .instrucciones {
        margin: 40px 20px;
    }
}
@media only screen and (max-width : 320px) {
    .nav-tabs.nav-justified {
        width: 100%;
    }
}

.home-club .c-inline-editor button{
    color: #FFF !important; 
    width: 30px;
    height: 30px;
}
.video-body{
    position: relative;
}
.video-body input{
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}
.video-body .dropzone{
    position: absolute;
    top: 0;
    width: 100%;
    height: 92%;
    border-radius: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    border: 0;
    transition: all 0.5s ease-in-out;
}
.video-body input:hover + .dropzone{
    opacity: 1;
    height: 100%;
    background-color: rgba(255,255,255,1);
}
.panel-body a.c-inline-editor{
    color:#6e6e6e !important;
    text-decoration: none;
}
.well{
    background: transparent;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    margin-top: 0px;
    border-radius: 0px 0px 4px 4px;
    padding: 8px;
    background: transparent;
}
.admin-programa .listado-desplegables{
    padding: 0;
}
.feditor.well {
    border-radius: 0;
    box-shadow: none;
}
.guardar-btn{
    cursor: pointer;
}
.flecha{
    transition: all .5s ease-in-out;
}
.flecha.active{
    transform: rotate(90deg);
}
.formulario-modal input::-webkit-input-placeholder,
.formulario-modal input::-moz-placeholder,
.formulario-modal input:-ms-input-placeholder,
.formulario-modal input:-moz-placeholder,
.formulario-modal textarea::-webkit-input-placeholder,
.formulario-modal textarea::-moz-placeholder,
.formulario-modal textarea:-ms-input-placeholder,
.formulario-modal textarea:-moz-placeholder{
    font-weight: normal !important;
    font-size: 1.1em !important;
}
.restorepassword input {
    width: 100% !important;
    margin: 0 auto;
    margin-top: 15px;
    float: none !important;
}
.form-group.restorepassword {
    width: 50%;
}
.print-link{
    float: right;
    color: #d4155b!important;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 78px;
}