.modal.fade .modal-dialog {
  -webkit-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
  margin: 0 auto !important; }

.modal-dialog.modal-recursos {
  width: 800px; }

.inlineEditForm {
  width: 100%; }

.form-inline .form-group {
  width: 100%; }

.form-inline textarea.form-control {
  width: 95%; }
  
.form-inline .form-control{
  width: 180px;
}
.btn-group-xs > .btn, .btn-xs {
  width: 20px;
  height: 20px; }

.action-circle-s {
  -webkit-transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.home-club .editar-logo {
  list-style: none; }

.modal.fade .modal-dialog.modal-recursos {
  margin: 0 auto !important;
  top: 50%;
  -webkit-transform: translate(0%, -50%) !important;
  -ms-transform: translate(0%, -50%) !important;
  transform: translate(0%, -50%) !important; }

confirm, logomodal {
  position: fixed;
  height: 100%;
  width: 100%; }

.boas-practicas .foto-seccion {
  position: relative; }
  .boas-practicas .foto-seccion input[type="file"] {
    position: absolute;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0; }

.content-file {
  position: relative;
  display: inline-block;
  float: left;
  width: 42%; }
  .content-file .alert-danger {
    float: left;
    width: 100%;
    padding: 5px 7px; }

.home-club .container-fluid .titulo-secundario {
  margin-bottom: 0px !important;
  clear: both;
  margin-top: 0; }

.adicional {
    float: left;
    width: 16%;
    margin-left: 200px;
  }



.home-club .container-fluid form {
  margin-top: 30px; }

.admin-recursos .sugerencia {
  float: left;
  clear: both;
  margin-top: 0px;
  margin-left: 31px; }

.grafica > div {
  padding: 0; }

.contenido-moni .introduccion {
  margin-top: 30px;
  margin-bottom: 20px; }

.modal-banner {
  position: relative; }
  .modal-banner .banner-modal .zona-activa {
    position: relative; }
    .modal-banner .banner-modal .zona-activa img {
      position: absolute;
      width: 77%;
      -o-object-fit: cover;
      object-fit: cover;
      height: 84%;
      border-radius: 19px;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      opacity: 0.86;
      border: 0;
      outline: 0;
      display: none; }

.foto-seccion {
  position: relative; }
  .foto-seccion input[type="file"] {
    position: absolute;
    z-index: 1;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    cursor: pointer; }

.alinear-izquierda h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 5px; }

.text-muted.text-danger {
  display: block;
  width: 100%;
  float: left;
  margin: 13px 0 0 0; }

.autodiagnostico .autodiagnostico-cuestionario .controles .titulo-terciario {
  margin-bottom: -10px;
  font-weight: bold;
  text-transform: uppercase; }

/*.nav > li > a:focus, .nav > li > a {
  border-color: transparent transparent #d2155b transparent !important; }*/

.nav-tabs > li > a:hover {
  border-color: transparent transparent transparent; }

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: transparent; }

simple-notifications .simple-notification-wrapper.bottom {
  bottom: auto;
  top: 0;
  position: fixed;
  width: 100%;
  right: 0 !important;
  padding: 0px; }
  simple-notifications .simple-notification-wrapper.bottom .sn-content {
    padding: 5px 50px 3px 3px; }

.ng-invalid .btn {
  background-color: #ccc; }

  .atras{
    background-color: #D2155B !important;
    margin-right: 390px !important;
}

.cancelar{
  background-color: #fff;
  border: solid 1px #7A8FB4;
  text-align: center;
  line-height: 32px;
  margin-right: 24px !important;
  border-radius: 5px;
  color: rgb(44, 87, 160);
}

.ng-dirty .fr-wrapper > div:first-child a {
  display: none; }



@media (max-width: 600px) {
  .menu-circular {
    position: relative;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 0; }
  .menu-circular > div {
    cursor: pointer;
    position: relative;
    width: 100%;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    left: 0 !important;
    top: 0 !important;
    background: #00afef;
    padding: 14px 15px;
    margin-bottom: 4px; }
  .menu-circular > div.menu-action-s .vinculos-s {
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: none; }
  .menu-circular > div > a {
    position: relative !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    top: 0 !important;
    display: block; }
  .menu-circular > div > a span {
    position: relative;
    top: 0 !important;
    color: white;
    left: 0 !important;
    margin-left: 10px;
    display: inline-block !important;
    text-align: left !important;
    width: 83% !important; }
  #menu-item-4.menu-action-s::after {
    display: none; }
  .menu-circular > div > a img {
    width: 30px; }
  .franja-conta.container-fluid {
    padding-right: 0;
    padding-left: 0; }
    .franja-conta.container-fluid .container {
      padding-right: 0;
      padding-left: 0; }
      .franja-conta.container-fluid .container .col-lg-9 {
        margin-top: 40px; }
  .action-circle-s {
    display: none !important; }
  .menu-circular > div.menu-item-2 {
    background: #0590d3; }
  .menu-circular > div.menu-item-3 {
    background: #0b71b7; }
  .menu-circular > div.menu-item-4 {
    background: #10529c; }
  .menu-circular > div.menu-item-5 {
    background: #163380; }
  .menu-circular > div.menu-item-6 {
    background: #1b1464; } 
}
@media (min-width: 1200px){
  .seguro {
    width: 928px;
}
.bonton-impo{
margin-right: 138px !important;
}
}

@media (min-width: 1900px) {
  .adicional {
    float: left;
    width: 16%;
    margin-left: 372px;
}
.fase{
  margin-left: 700px;
}
.otra{
  width: 65%;
}

}
@media (min-width: 2000px) {
  .adicional {
    float: left;
    width: 16%;    
    margin-left: 468px;
}
.fase{
  margin-left: 700px;
}
.otra{
  width: 65%;
}

}

