.upload {
    position: relative;
    display: inline-block;
  }
  
  .upload label {
    color: #5F626A;
    cursor: pointer;
    width: 90px;
    height: 90px;
    position: relative;
    display: block;
    border: 3px dashed #5F626A;
    border-radius: 10px;
    overflow: hidden;
    transition: background ease .5s;
    pointer-events: none; /*This for FF*/
  }
  
  .input-file {
    opacity: 0; /*This*/
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .add-image {
    display: block;
    width: 100%;
    margin: 30px auto;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
  }