<ngx-loading [show]="loading"   ></ngx-loading>
<div class="registro dados-clube" >
        <div class="autodiagnostico general">
                <!-- MENU GENERAL -->
                <app-menu></app-menu>
            <div class="container-general">
               <div class="adicional">
                   <div class="row">
                       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                       <!-- MENU LATERAL -->
                       <app-admenu></app-admenu>
                       </div>
              
                       <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 contenido">
                         <router-outlet></router-outlet>
                       </div>
                   </div>
               </div>
              
  <!-- MENU GENERAL -->
  <!--div class="container-fluid franja-registro centro color-azuloscuro">
      <h1 class="titulo-superior">Cadastro </h1>
      <p class="parrafo color-azuloscuro">Antes de inicar o autodiagnóstico é necessário fazer um rápido cadastro do clube. Dessa forma os dados preenchidos no questionário serão salvos automaticamente e você poderá retomar o autodiagnóstico em um outro momento, caso seja necessário interromper o processo. </p>
  </div>
  <div class="container etapas">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 centro">
          <div class="linea fondo-verde fondo-verdepastel" ></div>
          <a class="etapa centro actual-verde" tooltip="Dados Clube" placement="bottom">1</a>
      </div>
    
  </div>
  <div class="container espaciador-alto70">
              <h2 class="titulo-secundario centro color-azulprofundo"> <span class="glyphicon glyphicon-star estrella"></span> DADOS DO CLUBE <span class="glyphicon glyphicon-star estrella"></span></h2>
              <br/>
  </div-->
  <div class="introduccion fase">
        <h2 class="titulo-principal color-azulmenta">
            <span class="logo-auto">
                <svg class="icono_editar_cadastro" viewBox="0 0 28 28">
                  <use xlink:href="assets/images/sprites.svg#icono_editar_cadastro"></use>
                </svg>
            </span>
            EDITAR CADASTRO DO CLUBE
        </h2>
        <p class="parrafo color-grismedio otra">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
  <div class="container seguro" style="display: inline-flex; padding-top: 65px;">
        
  <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        
                <div class="container espaciador-alto70 estacio">
                        <h2 class="titulo-secundario centro color-azulprofundo"> <span class="glyphicon glyphicon-star estrella"></span> DADOS DO CONTATO <span class="glyphicon glyphicon-star estrella"></span></h2>
                        <br/>
                      </div>
      <div class="col-xs-push-3 col-xs-6 col-sm-push-0 col-sm-3 col-md-3 col-lg-2 col-md-offset-0 col-lg-offset-1">
          
        <div class="escudo borde-verdepastel">
            <img id="escimg" class="escudo-imagen" src="{{imgsrc}}" alt="">
            <div class="escudo-caja fondo-verdepastel">
                <input type="file" name="file" (change)='onChange($event)' id="file" class="inputfile" accept="image/x-png,image/gif,image/jpeg" />
                <label for="file" class="texto color-azulprofundo"> <img class="icono" src="assets/images/generales/actualizar.svg" alt=""> Substituir Escudo</label>
            </div>
            <div *ngIf="SimageAlert" class="alert alert-danger">
                    Logo obrigatório.
           </div>
        </div>   
      </div>

        <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
            <form id="formulario" class="formulario-registro row" (ngSubmit)="reg()">
                <div class="form-group col-xs-12 col-sm-12">
                    <div class="tablero fondo-verdepastel">Nome do clube</div>
                    <input id="nameCl"  type="text" required minlength="2" name="nameCl" [(ngModel)]="model.nameCl" #nameCl="ngModel" value=""  class="form-control fondo-verdepastel" placeholder="Nome do clube">
                    <div *ngIf="nameCl.invalid && (nameCl.dirty || nameCl.touched)" class="alert alert-danger">
             
                        <div *ngIf="nameCl.errors.required">
                            Nome obrigatório.
                        </div>
                        <div *ngIf="nameCl.errors.minlength">
                            Nome do clube muito curto
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12">
                    <div class="tablero fondo-verdepastel">Endereço</div>
                    <input type="text" required minlength="4" name="addressCl" [(ngModel)]="model.addressCl" #addressCl="ngModel" value="" class="form-control fondo-verdepastel" placeholder="Endereço">
                    <div *ngIf="addressCl.invalid && (addressCl.dirty || addressCl.touched)" class="alert alert-danger">
                
                        <div *ngIf="addressCl.errors.required">
                            Endereço obrigatório.
                        </div>
                        <div *ngIf="addressCl.errors.minlength">
                            Endereço muito curto
                        </div>
                    </div>
                </div>
              <div class="form-group col-xs-12 col-sm-12">
              <div class="tablero fondo-verdepastel">Cidade</div>
                  <input  id="cityCl" type="text" required minlength="2" name="cityCl" class="form-control fondo-verdepastel" [(ngModel)]="model.cityCl" #cityCl="ngModel" value="" placeholder="Cidade">
                  <div *ngIf="cityCl.invalid && (cityCl.dirty || cityCl.touched)"
                  class="alert alert-danger">
             
                   <div *ngIf="cityCl.errors.required">
                    Cidade obrigatório.
                  </div>
                   <div *ngIf="cityCl.errors.minlength">
                    Cidade muito curto
                 </div>
                  </div>
              </div>
              <div class="form-group col-xs-12 col-sm-6">
                  <div class="tablero fondo-verdepastel">CEP</div>
                  <input [textMask]="{mask: maskCPE}" id="employeesQuantityCl" required minlength="9" type="text" name="employeesQuantityCl" class="form-control fondo-verdepastel" [(ngModel)]="model.employeesQuantityCl" #employeesQuantityCl="ngModel" value="" placeholder="CEP">
                  <div *ngIf="employeesQuantityCl.invalid && (employeesQuantityCl.dirty || employeesQuantityCl.touched)"
                  class="alert alert-danger">
             
                   <div *ngIf="employeesQuantityCl.errors.required">
                    CEP obrigatório.
                  </div>
                  <div *ngIf="employeesQuantityCl.errors.minlength">
                    CEP muito curto
                 </div>
                   
                  </div>
              </div>
              <div class="form-group col-xs-12 col-sm-6">
                  <div class="tablero fondo-verdepastel">UF</div>

                  <select name="ufCl" [(ngModel)]="model.ufCl" class="form-control fondo-verdepastel" placeholder="UF">
                        <option [ngValue]="" selected disabled hidden>UF</option>
                        <option *ngFor="let ufs of ufOptions" [ngValue]="ufs">{{ufs}}</option>
                  </select>
              </div>
              <div class="form-group col-xs-12 col-sm-12">
                  <div class="tablero fondo-verdepastel">CNPJ</div>
                  <input [textMask]="{mask: maskCNPJ}" id="cnpjCl" type="text" required minlength="1" name="cnpjCl" class="form-control fondo-verdepastel" [(ngModel)]="model.cnpjCl" #cnpjCl="ngModel" value="" placeholder="CNPJ" >
                  <div *ngIf="cnpjCl.invalid && (cnpjCl.dirty || cnpjCl.touched)"
                  class="alert alert-danger">
             
                   <div *ngIf="cnpjCl.errors.required">
                    CNPJ obrigatório.
                  </div>
                  <div *ngIf="cnpjCl.errors.minlength">
                    CNPJ muito curto
                 </div>
                   
                  </div>
              </div>
              <div class="form-group col-xs-12 col-sm-12">
                  <div class="tablero fondo-verdepastel">Website</div>
                  <input id="websiteCl" type="text" name="websiteCl" class="form-control fondo-verdepastel" [(ngModel)]="model.websiteCl" #websiteCl="ngModel" value="" placeholder="Website">
                 
              </div>
              
              

              <div class="form-group col-xs-12 col-sm-12">
                    <div class="container espaciador-alto70">
                            <h2 class="titulo-secundario centro color-azulprofundo"> <span class="glyphicon glyphicon-star estrella"></span> DADOS DO CONTATO <span class="glyphicon glyphicon-star estrella"></span></h2>
                            <br/>
                          </div>
                <div class="tablero fondo-verdepastel">Pessoa de contato</div>
                <input id="persona" type="text" disabled required minlength="6" name="persona" class="form-control fondo-verdepastel" [(ngModel)]="model.persona" #persona="ngModel" value="" placeholder="Pessoa de contato">
                <div *ngIf="persona.invalid && (persona.dirty || persona.touched)"
                class="alert alert-danger">
           
                 <div *ngIf="persona.errors.required">
                    Pessoa de contato obrigatório.
                </div>
                 <div *ngIf="persona.errors.minlength">
                    6 caracteres mínimos
               </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12">
                <div class="tablero fondo-verdepastel">Cargo</div>
                <input  id="cargo" disabled type="text" name="cargo" required minlength="2" class="form-control fondo-verdepastel"  [(ngModel)]="model.cargo" #cargo="ngModel" value="" placeholder="Cargo">
                <div *ngIf="cargo.invalid && (cargo.dirty || cargo.touched)"
                class="alert alert-danger">
           
                 <div *ngIf="cargo.errors.required">
                    Cargo obrigatório.
                </div>
                 <div *ngIf="cargo.errors.minlength">
                    Cargo muito curto
               </div>
                </div>

            </div>
            <div class="form-group col-xs-12 col-sm-12">
                <div class="tablero fondo-verdepastel">Área</div>
                <input id="area" type="text" disabled name="area" required minlength="4" class="form-control fondo-verdepastel" required minlength="2"  [(ngModel)]="model.area" #area="ngModel" value="" placeholder="Área">
                <div *ngIf="area.invalid && (area.dirty || area.touched)"
                class="alert alert-danger">
           
                 <div *ngIf="area.errors.required">
                    area obrigatório.
                </div>
                 <div *ngIf="area.errors.minlength">
                    area muito curto
               </div>
                </div>
            </div>
            
            <div class="form-group col-xs-12 col-sm-6">
                <div class="tablero fondo-verdepastel">Telefone</div>
                <input [textMask]="{mask: maskTelefone}" disabled  id="telefono" type="text" name="telefono" class="form-control fondo-verdepastel" required minlength="5"  [(ngModel)]="model.telefono" #telefono="ngModel" value=""  placeholder="Telefone">
                <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
                class="alert alert-danger">
           
                 <div *ngIf="telefono.errors.required">
                    Telefone obrigatório.
                </div>
                 <div *ngIf="telefono.errors.minlength">
                    Telefone muito curto
               </div>
                </div>              
            </div>
            <div class="form-group col-xs-12 col-sm-6">
                <div class="tablero fondo-verdepastel">Celular</div>
                <input  [textMask]="{mask: maskCelular}" disabled type="text" name="celular" class="form-control fondo-verdepastel"  [(ngModel)]="model.celular" #celular="ngModel" value=""  placeholder="Celular">
               
            </div>
            <div class="form-group col-xs-12 col-sm-12">
                <div class="tablero fondo-verdepastel">E-mail coporativo</div>
                <input id="correo" type="email" name="correo" disabled  class="form-control fondo-verdepastel" required minlength="10" [(ngModel)]="model.correo" #correo="ngModel" value=""  placeholder="E-mail coporativo"  required
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$">
               
                <div *ngIf="correo.invalid && (correo.dirty || correo.touched)"
                class="alert alert-danger">
           
                 <div *ngIf="correo.errors.required">
                    Email obrigatório.
                </div>
                <div *ngIf="correo.errors && correo.errors.pattern">
                    Email is invalid
                </div>

                </div>

          
            </div>
            <div class="form-group col-xs-12 col-sm-12">
                <div class="tablero fondo-verdepastel">Digite novamente o e-mail</div>
                <input id="regmailConfirm" type="text" disabled name="correoValidar" class="form-control fondo-verdepastel"  [(ngModel)]="model.correoValidar" #correoValidar="ngModel" value=""   placeholder="Digite novamente o e-mail" email>
            </div>
            <div  *ngIf="matchE" class="alert alert-danger" >Email não correspondem</div>
            
            <p class="mensaje centro color-grisclaro">Todos os campos são de preenchimento obrigatório exceto celular.</p>


                
                  <button type="submit" class="btn magenta_btn center-block atras bonton-impo" form="formulario" >Salvar <span class="glyphicon glyphicon-menu-right flecha"></span></button>
          </form>

      </div>

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
      </div>
      </div>
    </div>
  </div>
  </div>

</div>