<div class="admin-auto" *ngIf="titleContent?.title">    
  <div class="controles">
      <div class="introduccion">
          <h2 class="titulo-principal color-azulmenta">
            <span class="logo-auto">
              <svg class="icono_recomendacoes" viewBox="0 0 21 22.2">
                  <use xlink:href="/assets/images/sprites.svg#icono_recomendacoes"></use>
              </svg>
            </span>
            <inline-editor type="text" [(ngModel)]="titleContent.title" (onSave)="saveTitleContent()" name="titleContent.title" size="35"></inline-editor>
          </h2>
          <p class="parrafo">Para agregar novos materiais ao Centro de Recursos, preencha os campos abaixo e selecione o(s) arquivo(s) que deseja incluir.</p>
        </div>
    <h4 class="titulo-terciario centro color-grismedio">ESCOLHER PARA EDITAR</h4>
      <div class="numeros">
        <ng-pagination [(ngModel)]="currentPage" [boundaryLinks]="false" (pageChanged)="pageChanged($event)"></ng-pagination>
      </div>
  </div>
  <div class="bloque">
    <h4 class="titulo-relleno centro">{{ titleSection }}</h4>
    <!--div class="bloque-introduccion">
      <p class="parrafo color-grismedio">{{ descriptionSection }}</p>
    </div-->
    <div class="bloque-borde" *ngFor="let item of section; let i = index">
      <div class="circulo">{{ i + 1 }}</div>
      <span class="parrafo color-azulprofundo">
        <inline-editor #myInlineEditor type="text" [(ngModel)]="item.question" (onSave)="saveAnswEditable(item)" name="title" size="35" (focusout)="myInlineEditor.edit({editing: false})"></inline-editor>
      </span>
      <div class="opciones">
        <p><!--inline-editor type="text" [(ngModel)]="item.title" (onSave)="saveAnswEditable(item)"  name="title" size="45"></inline-editor--></p> 
        <p><inline-editor #myInlineEditor2 type="textarea" [(ngModel)]="item.body" (onSave)="saveAnswEditable(item)" name="title" size="45" (focusout)="myInlineEditor2.edit({editing: false})"></inline-editor></p>
        <div class="file-content">
          <div class="link-mag"><a download href="{{ apiUrl }}/{{ item.guide }}">Descargar Guia</a></div>
          <input #file (change)="handleImage($event, i + 1, item.id)" type="file" name="file-{{ i + 1 }}" id="guide-{{ i + 1 }}" style="display:none;" />
          <label for="file" class="boton-azul" (click)="file.click()">Cargar arquivo <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span></label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 final">
    <a (click)=saveAutodiagnostic() class="guardar-btn">SALVAR</a>
  </div>
</div>