<div class="col-xs-12 col-sm-12 col-md-9 col-lg-12 contenido">
    <!-- CONTENIDO SECCIÓN -->
    <div class="introduccion">
        <h2 class="titulo-principal color-azulmenta">
            <span class="logo-auto">
                <svg class="icono_materiais" viewBox="0 0 19 21">
                    <use xlink:href="assets/images/sprites.svg#icono_materiais"></use>  
                </svg>
            </span>
            Materiais de Apoio
        </h2>
    </div>

    <ng-container *ngFor="let file of pagedItems ; let i = index" >
        <div class="bloque-contenido row">
            <div class="col-xs-7 col-sm-8 col-md-8 col-lg-10">
                <a  href="{{file.value}}" class="titulo-terciario" download>{{file.title}} </a>
                <p class="color-grismedio parrafo">PDF - {{file.weight}} Kb</p>
            </div>
            <div class="col-xs-5 col-sm-4 col-md-4 col-lg-2">
                <a class="simple-btn derecha" href="{{file.value}}"  download>Baixar <span class="flecha"><svg class="flecha-abajo" viewBox="0 0 8 4"><use xlink:href="assets/images/sprites.svg#flecha-abajo"></use></svg></span></a>
            </div>
        </div>
    </ng-container>

    <!--div class="controles">
        <br>
        <div *ngIf="pager.pages && pager.pages.length" class="numeros" >
            <a (click)="setPage(pager.currentPage - 1)" [ngClass]="{disabled:pager.currentPage === 1}" >    
                <span class="flecha"><svg class="flecha-abajo" viewBox="0 0 4 8"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprites.svg#flecha-izquierda"></use></svg></span>
            </a>
            <button *ngFor="let page of pager.pages" (click)="setPage(page)" type="button" class="btn amarillo_btn" [ngClass]="{active:pager.currentPage === page}">
                {{page}}
            </button>
            <a (click)="setPage(pager.currentPage + 1)" [ngClass]="{disabled:pager.currentPage === pager.totalPages}"  ><span class="flecha"><svg class="flecha-abajo" viewBox="0 0 4 8"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span></a>
        </div>
    </div-->
</div>