<div class="general admin-auto admin-plan">
  
  <div class="introduccion">
    <h2 class="titulo-principal color-azulmenta">
        <span class="logo-auto azule">
            <svg class="icono_materiais" viewBox="0 0 34 26">
               <use xlink:href="/assets/images/sprites.svg#icono-plano"></use>
            </svg>
         </span>  <inline-editor type="text" [(ngModel)]="content.title"  name="title" size="35"></inline-editor></h2>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alinear-izquierda">
      <!-- <div [froalaEditor]="edConfig" [(ngModel)]='content.body'></div> -->
      <app-ngx-editor [(ngModel)]="content.body"  name="body" size="135"></app-ngx-editor>

    </div>
    <input type="hidden" [(ngModel)]='content.id' id="idContent" />
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 final">
       <a (click)=saveContent() class="guardar-btn">SALVAR</a>
    </div>
    <hr class="divisor-azul">
  </div>

  <div class="listado-desplegables" *ngFor="let item of plan; let i = index">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item-desplegable">
      <span class="col-xs-10 col-sm-10 col-md-3 col-lg-3 titulo">
        <inline-editor #myInlineEditor type="text" [(ngModel)]="item.label" (onSave)="saveAnswEditable(item)" name="title" size="45" (focusout)="myInlineEditor.edit({editing: false})"></inline-editor>
      </span>
      <span class="col-xs-10 col-sm-10 col-md-8 col-lg-8 parrafo color-azul-basico">
        <inline-editor #myInlineEditor2 type="text" [(ngModel)]="item.title"  (onSave)="saveAnswEditable(item)" name="title" size="45" (focusout)="myInlineEditor2.edit({editing: false})"></inline-editor>
      </span>
      <a class="col-xs-2 col-sm-2 col-md-1 col-lg-1 vinculo" data-toggle="collapse" data-target="#com1"><svg viewBox="0 0 20 20"><use xlink:href="assets/images/sprites.svg#flecha-abajo"></use></svg></a>
      <div id="com1" class="collapse col-xs-12 col-sm-12 col-md-12 col-lg-12 alinear-izquierda">
        <p class="parrafo color-grisoscuro">
          <inline-editor #myInlineEditor3 type="textarea" [(ngModel)]="item.description"  (onSave)="saveAnswEditable(item)" name="description" size="45" (focusout)="myInlineEditor3.edit({editing: false})"></inline-editor>
        </p>
      </div>
    </div>
  </div>
</div>