<div class="registro dados-contato">
        <div class="container-fluid franja-registro centro color-azuloscuro">
            <h1 class="titulo-superior">Cadastro</h1>
        </div>
        <div class="container etapas">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 centro">
                <a class="etapa centro pendiente" href="">1</a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 centro">
                <div class="linea fondo-amarillo"></div>
                <a class="etapa centro pendiente" data-toggle="tooltip" data-placement="right" title="Dados do contato">2</a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 centro">
                <a class="etapa centro pendiente">3</a>
            </div>
        </div>
        <div class="container espaciador-alto70">
           <h2 class="titulo-secundario centro color-azulprofundo"> <span class="glyphicon glyphicon-star estrella"></span> REDEFINIR SENHA <span class="glyphicon glyphicon-star estrella"></span></h2>
            <br/>
        </div>
        <div class="container">
             <div class="row">
               <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 col-md-offset-0 col-lg-offset-1"></div>
               <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
                 <form id="formUser" class="formulario-registro row"  (ngSubmit)="f.form.valid && regSenha()" #f="ngForm" novalidate>
                    <div class="form-group col-xs-12 col-sm-12">
                        <div class="tablero fondo-amarillopastel"> Nova senha</div>
                        <input id="senha" type="password" required minlength="7" name="senha"  class="form-control fondo-verdepastel" [(ngModel)]="model.senha" #senha="ngModel" value="" placeholder="Senha">
                        <div *ngIf='senha.invalid && (senha.dirty || senha.touched)' class="alert alert-danger">
                            <div *ngIf="senha.errors.required">
                                Senha obrigatória.
                             </div>
                             <div *ngIf="senha.errors.minlength">
                                7 caracteres mínimos
                             </div>
                         </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12">
                        <div class="tablero fondo-amarillopastel">Confirmar nova senha</div>
                        <input  id="csenha"  type="password" name="csenha" required minlength="7"  class="form-control fondo-verdepastel"  [(ngModel)]="model.csenha" #csenha="ngModel" value="" placeholder="Confirme a Senha">
                        <div *ngIf="csenha.invalid && (csenha.dirty || csenha.touched)"
                        class="alert alert-danger">
                   
                         <div *ngIf="csenha.errors.required">
                            Senha obrigatória.
                        </div>
                         <div *ngIf="csenha.errors.minlength">
                                Senha muito curto
                          </div>
                        </div>
                        <div *ngIf="matchE" class="alert alert-danger" >Senha não correspondem</div>
                    </div>             
                    <button type="submit" class="btn magenta_btn center-block" form="formUser" >Salvar <span class="glyphicon glyphicon-menu-right flecha"></span></button>
                </form>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
            </div>
        </div>
        </div>
</div>
    
