<div class="general">   
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 contenido">
          <div class="introduccion"><div class="espaciador-alto50"></div>
            <h2 class="titulo-principal color-azulmenta">
                <span class="logo-auto">
                    <svg class="icono_programa" viewBox="0 0 38 38">
                        <use xlink:href="assets/images/sprites.svg#icono-balon"></use>
                    </svg>
                </span>
              {{title}}
            </h2>
            <div [innerHTML]="body"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 galeria">
        <!--img class="poster-video" src="assets/images/nino_zapato.jpg" alt=""-->
        <div class="nuevo_video" style="padding-top: 77px;">
        <video id="unicefVideo" width="100%" height="auto" src="{{videoUrl}}#t=6" controls>
        </video>
      </div>
        <a href="" class="boton-video" data-toggle="modal" data-target="#video-1">
          <!--svg class="boton-reproducir" viewBox="0 0 46.33 46.17">
              <use xlink:href="assets/images/sprites.svg#boton-reproducir"></use>
          </svg-->
        </a>
        <p class="parrafo color-grissimple">Conheça mais sobre a realidade de jovens aspirantes a jogador de futebol no vídeo e no estudo <span class="color-magenta"><a href="https://www.unicef.org/brazil/pt/br_infanciaemcampo.pdf" target="_black"><em><strong style="color: #d2155b;">“A INFÂNCIA ENTRA EM CAMPO”.</strong></em></a></span> </p>
      </div>
    </div>
  </div>
  
  <ngx-loading [show]="loading"></ngx-loading>

  <div class="row">
      <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ng-container *ngFor="let step of steps ; let i = index" >
        <div class="bloque-contenido row ">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 interna">
              
             <a href="#section-{{i}}" data-toggle="collapse" class="titulo-terciario">{{step.title}}</a>
            
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <a  class="simple-btn-v2 derecha" data-toggle="collapse" href="#section-{{i}}" (click)="changeCollapse(ind, i)">
                  <span id="flecha-{{i}}--{{ind}}" class="flecha arriba">
                      <svg class="flecha-abajo" viewBox="0 0 8 5">
                         <use xlink:href="/assets/images/sprites.svg#flecha-abajo"></use>
                      </svg>
                   </span>
              </a>
            </div>
        </div>
        <div id="section-{{i}}" class="collapse" >
          <div class="panel-body" [innerHTML]="step.value | keepHtml">
    
          </div>
        </div>
      </ng-container>
    </div>
    </div>
  </div>
  <div class="container">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-12 contenido">

<p class="parrafo">Para mais detalhes sobre o conteúdo e funcionamento da iniciativa JOGUE LIMPO, JOGUE BEM, consulte aqui o <a href="link a pdf" style="color:#d2155b; font-weight: bold;"> MANUAL do programa. </a></p>


 <!--b><span class="color-azulprofundo"> <a href="link a pdf"> - AÇÕES E METAS DO PROGRAMA JOGUE LIMPO, JOGUE BEM</a></span></b><br/>
<b><span class="color-azulprofundo"> <a href="link a pdf"> - GUIA DE RECOMENDAÇÕES PARA UMA FORMAÇÃO DE ATLETAS DO FUTEBOL MAIS ÉTICA, SEGURA E SAUDÁVEL</a></span></b><br/-->

</div>
</div>

  <!--div id="video-1" class="modal fade" role="dialog">
    <div class="modal-dialog">
      < Modal content>
      <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" style="padding: 7px;" onclick="document.getElementById('unicefVideo').pause();" >&times;</button>
        <div class="modal-body">
          <video id="unicefVideo" width="100%" height="auto" src="{{videoUrl}}" controls>
          </video>
        </div>
      </div>
    </div>
  </div-->
</div>

<app-contact></app-contact>