<div class="modal-dialog accept-dialog modal-sm">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" (click)="close()">&times;</button>
          <h4 class="modal-title">{{title || 'Confirm'}}</h4>
          <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="confirm()">Aceptar</button>
        <button type="button" class="btn btn-outline-dark" (click)="close()">Cancelar</button>
      </div>  
  </div>
</div>