<div class="introduccion">
  <h2 class="titulo-principal color-azulmenta">CLUBES</h2>
  <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed ligula sit amet elit elementum interdum. Nulla eu dapibus augue. Cras quis aliquam odio. Nunc vel ipsum in erat sollicitudin pretium.</p>
</div>
<form class="formulario-registro formulario-filtro">

    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <input name="uf" (keyup)="filterName($event)" placeholder="Escreva o nome" class="form-control fondo-verdepastel" />
    </div>
    
    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <select name="uf" (change)="filterPrograma($event)" class="form-control fondo-verdepastel">
          <option selected disable value="" class="opcion">Participa do programa?</option>
          <option value="1" class="opcion">Sim</option>
          <option value="0" class="opcion">Não</option>
      </select>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <select name="uf" (change)="filterCompromisos($event)" class="form-control fondo-verdepastel">
          <option selected disable value="" class="opcion">Compromisso cumprido</option>
          <option *ngFor="let item of compromisos; let i = index" [value]="item.id" class="opcion">{{ item.label }}</option>
      </select>
    </div>
  </form>
  <div class="listado-desplegables">
    <div *ngFor="let club of clubs; let i = index" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item-desplegable">
      <a class="col-xs-10 col-sm-10 col-md-11 col-lg-11 titulo" data-toggle="collapse" [attr.data-target]="'#custom-'+i" (click)="changeCollapse(i)" >{{ club.name }}</a>
      <a class="col-xs-2 col-sm-2 col-md-1 col-lg-1 vinculo" data-toggle="collapse" [attr.data-target]="'#custom-'+i" (click)="changeCollapse(i)" >
        <span id="flecha-{{i}}" class="flecha arriba">
          <svg class="flecha-abajo" viewBox="0 0 8 5">
            <use xlink:href="/assets/images/sprites.svg#flecha-abajo"></use>
          </svg>
        </span>
      </a>
      <div id="custom-{{ i }}" class="collapse col-xs-12 col-sm-12 col-md-12 col-lg-12 alinear-izquierda">
        <div class="parrafo color-grisoscuro">
            <br />
          <p><label>Address:</label> {{ club.address }}</p>
          <p><label>City:</label> {{ club.city }}</p>
          <p><label>CNPJ:</label> {{ club.cnpj }}</p>
          <p><label>Employees Quantity:</label> {{ club.employeesQuantity }}</p>
          <p><label>Website:</label> {{ club.website }}</p>
          <p><label>Participa do programa?:</label> <span *ngIf="club.program">Sim</span><span *ngIf="!club.program">Não</span></p>
        </div>
      </div>
    </div>  
  <div *ngIf="clubs.length > 0" class="controles">
    <div class="numeros">
      <ng-pagination [(ngModel)]="currentPage" [boundaryLinks]="false" (pageChanged)="pageChanged($event)"></ng-pagination>
    </div>
  </div> 
  <a download href="{{ apiUrl }}/clubs/export"  *ngIf="clubs.length > 0" class="boton-vacio-magenta">Baixar XLS <span class="flechita"><svg class="flechita-abajo" viewBox="0 0 4 8"><use xlink:href="/assets/images/sprites.svg#flecha-derecha"></use></svg></span></a>
</div>