<ngx-loading [show]="loading" ></ngx-loading>
<div class="container-plan">
   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenido">
         <!-- CONTENIDO SECCIÓN -->
         <div class="introduccion">
            <h2 class="titulo-principal color-azulmenta">
               <span class="logo-auto">
                  <svg class="icono_materiais" viewBox="0 0 34 26">
                     <use xlink:href="/assets/images/sprites.svg#icono-plano"></use>
                  </svg>
               </span>
               PLANO DE AÇÕES E METAS
            </h2>
            <p class="parrafo">Nesta seção você pode montar, visualizar e imprimir um Plano de Ações e Metas individualizado para o clube, a partir dos compromissos, das ações e metas do Programa JOGUE LIMPO, JOGUE BEM.</p>
            <p class="parrafo">Selecione abaixo as ações do programa que o clube ainda precisa implementar para garantir a promoção e proteção dos direitos dos atletas em formação. No final, com apenas um click, o sistema gera automaticamente o Plano de Ações e Metas individual do clube.</p>
         </div>
         <ng-container>
            <!-- CONTENIDO CARGADO -->
            <div *ngIf="mlist" >
               <div  *ngFor="let cm of commi ; let ind = index" >
                 
                <div class="bloque-contenido row altura-minima">
                     <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 interna">
                        <a data-toggle="collapse" href="#section-{{ind}}" class="titulo-terciario color-azulprofundo" (click)="changeCollapse(ind, null)">{{cm.label}}</a>
                     </div>
                     <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8 interna">
                        <span class="titulo-terciario color-azul-basico auxiliar">{{cm.title}}</span>
                     </div>
                     <div class="col-xs-6 col-sm-1 col-md-1 col-lg-1">
                        <a  class="simple-btn-v2 derecha" data-toggle="collapse" href="#section-{{ind}}" (click)="changeCollapse(ind, null)">
                           <span id="flecha-{{ind}}" class="flecha arriba">
                              <svg class="flecha-abajo" viewBox="0 0 8 5">
                                 <use xlink:href="/assets/images/sprites.svg#flecha-abajo"></use>
                              </svg>
                           </span>
                        </a>
                     </div>
                </div>
                 
                  
                  <div id="section-{{ind}}" class="collapse" >
                     <h2 *ngIf="cm.indicators.priority.length > 0"  class="titulo-desplegable color-azul-basico">Ação Prioritária</h2>
                     <br/>
                     <ng-container  *ngFor="let priori of cm.indicators.priority   ; let i = index">
                        <div class="bloque-item">
                           <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 check">
                              <input id="{{cm.id}}"  type="checkbox" (click)="handleChange($event)" value="{{ind}},1,{{i}}">
                           </div>
                           <div class="col-xs-10 col-sm-10 col-md-9 col-lg-9">
                              <div class="numeral">{{priori.numeration}}</div>
                              <div class="texto">{{priori.action}} </div>
                           </div>
                           <div class="col-xs-5 col-sm-1 col-md-2 col-lg-2">
                              <a class="simple-btn-v2 derecha" data-toggle="collapse" href="#punto1-{{i}}--{{ind}}" (click)="changeCollapse(ind, i)">
                                 <span id="flecha-{{i}}--{{ind}}" class="flecha arriba">
                                    <svg class="flecha-abajo" viewBox="0 0 8 5">
                                       <use xlink:href="/assets/images/sprites.svg#flecha-abajo"></use>
                                    </svg>
                                 </span>
                              </a>
                           </div>
                        </div>
                        <br/><br/><br/>
                        <div id="punto1-{{i}}--{{ind}}" class="collapse extra">
                           <div class="meta mitad">
                              <div class="superior">
                                 <h3 class="titulo-terciario color-azulprofundo centro">META</h3>
                              </div>
                              <div class="inferior">
                                 <p>{{priori.goal}}</p>
                              </div>
                           </div>
                           <div class="meta mitad">
                              <div class="superior">
                                 <h3 class="titulo-terciario color-azulprofundo centro">META 1º ANO   </h3>
                              </div>
                              <div class="inferior">
                                 {{priori.goal_one_year}}
                                 <hr class="sin-datos">
                              </div>
                           </div>
                           <div class="indicador completo">
                              <div class="superior">
                                 <h3 class="titulo-terciario color-azulprofundo centro">INDICADOR</h3>
                              </div>
                              <div class="inferior">
                                 <p>{{priori.indicator}} </p>
                              </div>
                              <br/><br/>
                           </div>
                        </div>
                        <br/> <br/>
                     </ng-container>                     
                  </div>


               </div>
            </div>
         </ng-container>
        
        <div *ngIf="xlsArray.length && readyXls" id="exportable" style="display:none">
          <table width="100%">
            <thead>
                <tr>
                  <th>ID</th>
                  <th>COMPROMETIMENTO</th>
                  <th>TITLE</th>
                  <th>NAME</th>
                  <th>INDICADORES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of xlsArray">
                  <td *ngIf="item">{{item.description}}</td>
                  <td *ngIf="item">{{item.id}}</td>
                  <td *ngIf="item">{{item.indicators}}</td>
                  <td *ngIf="item">{{item.label}}</td>
                  <td *ngIf="item">{{item.title}}</td>
                </tr>
            </tbody>
          </table>
        </div>


         <ng-container>
            <div id="select-section" *ngIf="!mlist" >
               <div    *ngFor="let cm of commi ; let ind = index" >
                  <div *ngIf="(cm.indicators.priority.length>0)" class="bloque-contenido row altura-minima">
                     <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 interna">
                        <a  class="titulo-terciario color-azulprofundo">{{cm.label}}</a>
                     </div>
                     <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 interna">
                        <span class="titulo-terciario color-azul-basico auxiliar">{{cm.title}}</span>
                     </div>
                     <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                     </div>
                  </div>
                  <div id="section-{{ind}}"  >
                  <!--h2 *ngIf="cm.indicators.priority.length > 0"  class="titulo-desplegable color-azul-basico">Ação Prioritária</h2-->
                     <br/>
                     <ng-container  *ngFor="let priori of cm.indicators.priority   ; let i = index">
                        <div class="bloque-item">
                           <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                              <div class="numeral">{{priori.numeration}}</div>
                              <div class="texto">{{priori.action}} </div>
                           </div>
                           <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                           </div>
                        </div>
                        <br/><br/><br/>
                        <div id="punto1-{{i}}--{{ind}}" class="extra collapse in">
                           <div class="meta mitad">
                              <div class="superior">
                                 <h3 class="titulo-terciario color-azulprofundo centro">META</h3>
                              </div>
                              <div class="inferior">
                                 <p>{{priori.goal}}</p>
                              </div>
                           </div>
                           <div class="meta mitad">
                              <div class="superior">
                                 <h3 class="titulo-terciario color-azulprofundo centro">META 1º ANO   </h3>
                              </div>
                              <div class="inferior">
                                 <hr class="sin-datos">
                              </div>
                           </div>
                           <div class="indicador completo">
                              <div class="superior">
                                 <h3 class="titulo-terciario color-azulprofundo centro">INDICADOR</h3>
                              </div>
                              <div class="inferior">
                                 <p>{{priori.indicator}} </p>
                              </div>
                              <br/><br/>
                           </div>
                        </div>
                        <br/> <br/>
                     </ng-container>
                 
                  </div>
              </div>
              <div id="botones">
                <div style="float: right"  class="dropdown">
                    <button class="btn magenta_btn " type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-print"></span> &nbsp;&nbsp;Imprimir
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a type="button"  (click)="openPDF()" >Arquivos PDF</a></li>
                      <li><a type="button"  (click)="buildCSV()">Arquivos XLS</a></li>
                    </ul>
                </div>
                <button style="margin-right:20px; float: right" (click)="closeDoc()" type="button" class="btn magenta_btn centro center-block"><span class="glyphicon glyphicon-menu-left flecha"></span> Volver</button>
              </div>
            </div>
         </ng-container>
      </div>
      <div *ngIf="mlist" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
         <button style="margin-top: 20px;float: right" (click)="openDoc()" type="button" class="btn magenta_btn centro center-block">Gerar Plano de Ação do Clube <span class="glyphicon glyphicon-menu-right flecha"></span></button>
      </div>
   </div>
</div>