<div class="general home-club">
    <div class="container" style="width: 100%;">
      <div class="row">
        <!-- MENU LATERAL -->

        <!-- CONTENIDO SECCIÓN -->
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 contenido">
            <div class="introduccion">
                <h2 class="titulo-principal color-azulmenta">“Bem-vindo ao ambiente de administrador da plataforma Jogue Limpo, Jogue Bem!</h2>
                <p class="parrafo">Escolha no menu ao lado se deseja visualizar os dado e as informações dos clubes cadastrados ou se deseja gerenciar as seções da plataforma.</p>
                <p class="parrafo">Para efetuar ajustes no conteúdo da plataforma, clique no texto ou na área que deseja editar e salve as alterações por meio do botão <samp style="color:#D4155B; font-weight: bold;">“Salvar”</samp></p>
            </div>
        </div>  
    </div>
  </div>
</div>  