<a class="cerrar-modal" data-dismiss="modal"><span class="cerrar"><svg class="icono-cerrar" viewBox="0 0 10.01 9.32"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprites.svg#icono-cerrar"></use></svg></span></a>
<p class="color-azul-basico titulo-secundario" style="margin: 0;">{{promise}}</p>
<p class="color-azul-medio titulo-secundario" style="margin: 0;">Indicador {{numeral}}</p>
<p class="color-azul-medio titulo-secundario" style="margin: 0;">{{promiseTitle}}</p>
<tabset [justified]="true">
  <tab heading="Imagens">
    <div class="dropzone" >
        <div *ngIf="!_selectedImage" class="instrucciones">
            <p class="principal">Arraste aqui ou seleccionar imagens do seu computador que você deseja carregar...</p>
            <p class="secundario">Recomendaciones para subir las fotos sopa de graduação de tomate. Cada elemento leo muita proteína.</p>
            <a class="boton-subir" href="">Adicionar Imagen</a>
        </div>
        
        <input type="file" class="form-control" id="name"
        required
        [(ngModel)]="monitoringModel.file" accept="image/*" name="file"
        #name="ngModel" (change)="upload($event)">
        <img *ngIf="_selectedImage" [src]="_selectedImage.path">
        <div class="controles-edicion">
          <!--<a *ngIf="_selectedImage" class="editar-actualizar"><span><svg class="editar" viewBox="0 0 17.63 10.42"><use xlink:href="assets/images/sprites.svg#icono-actualizar"></use></svg></span></a>!-->
          <a *ngIf="_selectedImage" (click)="deleteImage(_selectedImage.id)" class="editar-eliminar"><span xlink:href="assets/images/sprites.svg#icono-borrar"><span class="Eliminar">Excluir </span><svg class="eliminar" viewBox="0 0 9.49 10.21"><use xlink:href="assets/images/sprites.svg#icono-borrar"></use></svg></span></a>
        </div>
    </div> 
    

    <div class="row media-row" *ngIf="indicator != 0 && _multimedia.images">
     
        <div class="col-md-2 media-col add-more-btn">
            <div class="dropzone" style="height: 70px !important;">
                <a href=""><i class="glyphicon glyphicon-plus " (click)="resetZone()"></i></a>
                <input type="file" class="form-control" id="name"
                required
                [(ngModel)]="monitoringModel.file" accept="image/*" name="file"
                #name="ngModel" (change)="upload($event)">
            </div>
        </div>
    
        <div class="col-md-2 media-col" *ngFor="let image of _multimedia.images">
            <img [src]="image.path" class="img-responsive thumbnail" (click)="handleSelectedImage(image)">
        </div>
    </div>
    
  </tab>
  <tab heading="Videos">

    <div class="dropzone">
        <div *ngIf="!_selectedVideo" class="instrucciones">
            <p class="principal">Arraste aqui ou seleccionar imagens do seu computador que você deseja carregar...</p>
            <p class="secundario">Recomendaciones para subir las fotos sopa de graduação de tomate. Cada elemento leo muita proteína. (O peso do seu vídeo deve ser inferior a 2 MB)</p>
            <a class="boton-subir" href="">Adicionar Video</a>
        </div>
        <input type="file" class="form-control" id="name"
        required
        [(ngModel)]="monitoringModel.file" accept="video/*" name="file"
        #name="ngModel" (change)="upload($event)">
        <video *ngIf="_selectedVideo" [src]="_selectedVideo.path" controls>
        </video>
        <div class="controles-edicion">
            <!--<a *ngIf="_selectedImage" class="editar-actualizar"><span><svg class="editar" viewBox="0 0 17.63 10.42"><use xlink:href="assets/images/sprites.svg#icono-actualizar"></use></svg></span></a>!-->
            <a *ngIf="_selectedVideo" (click)="deleteImage(_selectedVideo.id)" class="editar-eliminar">Excluir<span><svg class="eliminar" viewBox="0 0 9.49 10.21"><use xlink:href="assets/images/sprites.svg#icono-borrar"></use></svg></span></a>
        </div>
    </div> 
     
    <div *ngIf="loading" class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
  
    <div class="row media-row" *ngIf="indicator != 0 && _multimedia.videos">
        <div class="col-md-2 media-col add-more-btn">
            <div class="dropzone" style="height: 70px !important;">
                <a href=""><i class="glyphicon glyphicon-plus " (click)="resetZone()"></i></a>
                <input type="file" class="form-control" id="name"
                required
                [(ngModel)]="monitoringModel.file" accept="video/*" name="file"
                #name="ngModel" (change)="upload($event)">
            </div>
        </div>
        <div class="col-md-2 media-col" *ngFor="let video of _multimedia.videos">
        <video class="thumbnail" (click)="handleSelectedVideo(video)">
            <source [src]="video.path">
        </video>
        </div>
    </div>
    

  </tab>
  <tab heading="Documentos">
    <div class="dropzone">
        <div *ngIf="!indicator" class="instrucciones">
            <p class="principal">Arraste aqui ou seleccionar documentos do seu computador que você deseja carregar...</p>
            <p class="secundario">Recomendaciones para subir las fotos sopa de graduação de tomate. Cada elemento leo muita proteína.</p>
            <a class="boton-subir" href="">Adicionar Documentos</a>
        </div>
        <input type="file" class="form-control" id="name"
        required
        [(ngModel)]="monitoringModel.file" accept=".xls,.xlsx,.doc,.docx,.pdf" name="file"
        #name="ngModel" (change)="upload($event)">
    </div>
    
    <div class="col-xs-12 comments-badge">
        <div *ngIf="indicator != 0 && _multimedia.documents">
            <div class="bloque-contenido row" *ngFor="let document of _multimedia.documents | orderByDate">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a class="titulo-terciario">{{document.name}}</a>
                    <p class="color-grismedio">{{document.type}}</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-buttons">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center">
                        <a class="simple-btn" target="_blank" href="{{document.path}}">
                        Baixar <span class="flecha"><svg class="flecha-abajo" viewBox="0 0 8 4"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprites.svg#flecha-abajo"></use></svg></span>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center">
                        <a (click)="deleteImage(document.id)" class="simple-btn">
                                Excluir <span class="flecha"> <i class="glyphicon glyphicon-remove-circle"></i> </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

  </tab>
  <tab heading="Comentários" class="comments">

    <div class="col-xs-12">
      <div class="form-group">
          <label for="commet">Escreva um comentário</label>
          <textarea id="comment" name="comment" [(ngModel)]="monitoringModel.comment" class="form-control"></textarea>
      </div>
      <div class="form-group">
          <input type="submit" class="btn btn-default boton-magenta" (click)="addComment(monitoringModel.comment)" value="Salvar">
      </div>
    </div>
    <hr>
    <hr>
    <div class="col-xs-12 comments-badge">
        <div class="media-list" *ngIf="_comments">
            <div class="bloque-contenido row" *ngFor="let comment of _comments">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="media-heading"><span class="badge">{{comment.created}} </span> - {{comment.contact_name}}</h4>
                    {{comment.Comment}}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-buttons">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center">
                        <a (click)="deleteComment(comment.id)" class="simple-btn">
                            Excluir <span class="flecha"> <i class="glyphicon glyphicon-remove-circle"></i> </span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
  </tab>
</tabset>