<ngx-loading [show]="loading" ></ngx-loading>
<div class="general boas-practicas">
    <!-- MENU GENERAL -->          
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenido">
        <!-- CONTENIDO SECCIÓN -->
        <div  class="introduccion">
            <h2 class="titulo-principal color-azulmenta">
                <span class="logo-auto">
                <svg class="icono_materiais" viewBox="0 0 20 20">
                    <use xlink:href="assets/images/sprites.svg#icono-practicas"></use>
                </svg>
                </span>
                banco de boas práticas
            </h2>
            <div class="practica">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 foto-seccion alinear-izquierda">
                <img class="foto" src="assets/images/banco_img_1.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 practica-explicacion">
                <p class="titulo-practicas color-azul-basico">conheça</p>
                <p class="parrafo">Conheça as boas práticas relacionadas à promoção e defesa dos direitos de jovens atletas em formação que os clubes de futebol estão implementando.</p>
                <div class="container-form ">
                    <form class="formulario-registro col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <select (change)="onChange($event.target.value)" name="uf" class="form-control fondo-azulpastel">
                                <option  value="" class="opcion" selected disabled hidden >Selecione um clube</option>
                                <ng-container *ngFor="let club  of clubs | filterBy: clubsFilter"   >
                                    <option  value="{{club.id}}" class="opcion">{{club.name}}</option>
                                </ng-container>
                            </select>
                            <div class="formulario-registro col-xs-12 col-sm-12 col-md-4 col-lg-4">
                              <a (click)="visibility1()" class="magenta_btn">
                                OK 
                                <span class="flecha">
                                    <svg class="flecha" viewBox="0 0 4 8">
                                        <use xlink:href="assets/images/sprites.svg#flecha-derecha"></use>
                                    </svg>
                                </span>
                             </a>
                          </div>
                        </div>
                        <!--div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <input type="text" name="uf" class="form-control fondo-azulpastel"  [(ngModel)]="clubsFilter.city"  placeholder="Região"/>
                        </div-->
                    </form>
                </div>
                </div>
            </div>
            <ng-container *ngIf="comp==1" >
                <ng-container  *ngFor="let comm of comm_list  ; let i = index">
                <div   class="bloque-contenido row altura-minima">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 interna">
                        <a class="titulo-terciario color-azulprofundo" data-toggle="collapse" href="#compromiso--{{i}}">{{comm.label}}</a>
                    </div>
                    <div class="col-xs-11 col-sm-11 col-md-8 col-lg-8 interna">
                        <span class="titulo-terciario color-azul-basico auxiliar">{{comm.title}}</span>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <a class="simple-btn-v2 derecha" data-toggle="collapse" href="#compromiso--{{i}}">
                            <span class="flecha">
                            <svg class="flecha-abajo" viewBox="0 0 8 4">
                                <use xlink:href="assets/images/sprites.svg#flecha-abajo"></use>
                            </svg>
                            </span>
                        </a>
                    </div>
                </div>
                <div id="compromiso--{{i}}" class="collapse" >
                    <h2 class="titulo-desplegable " style="color:#d2155b !important; font-size:18px;">{{comm.clubes[0].name}}</h2>
                    <ng-container  *ngFor="let pt of comm.clubes[0].practicas  ; let i = index">
                        <div class="bloque-item">
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <div class="texto"><b>
                                {{pt.title}}</b> 
                            </div>
                            <div class="texto"><b>Descrição da prática: </b>
                                <p>{{pt.Description}}</p>
                            </div>
                            <div class="texto"><b>Principais benefícios gerados: </b><br/>
                                <p>{{pt.Benefits}}</p>
                            </div>
                            <div class="texto"><b>Principais desafios na implementação: </b><br/>
                                <p>{{pt.Challenges}}</p>
                            </div>
                            <div class="texto"><b>Outras informações relevantes: </b><br/>
                                <p>{{pt .extraInfo}}</p>
                            </div>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            </div>
                        </div>
                    </ng-container>
                </div>
                </ng-container>
            </ng-container>
            <hr class="divisor-practicas">
            <div class="practica">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 foto-seccion alinear-izquierda">
                <img class="foto" src="assets/images/banco_img_2.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 practica-explicacion">
                <p class="titulo-practicas color-azul-basico">Compartilhe</p>
                <p class="parrafo">Compartilhe conosco as experiências de sucesso do clube e indique se tem interesse que elas façam parte do Banco de Boas Práticas da plataforma JOGUE LIMPO, JOGUE BEM.</p>
                <a (click)="visibility()" class="magenta_btn" style="margin-top: 30px;">
                    Compartilhar Boa Prática 
                    <span class="flecha">
                        <svg class="flecha" viewBox="0 0 4 8">
                            <use xlink:href="assets/images/sprites.svg#flecha-derecha"></use>
                        </svg>
                    </span>
                </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="comp==2" >
                <p class="titulo-practicas color-azul-basico">* COMPARTILHAR NOVA BOA PRÁTICA *</p>
                <form  id="formulario" class="formulario-registro row" (ngSubmit)="f.form.valid && savePractice()" #f="ngForm"   >
                <div class="form-group col-xs-12 col-sm-12">
                <div class="tablero fondo-verdepastel"> <span > Identificação da boa prática</span></div>
                <textarea id="titleCl"  type="text"  minlength="8" name="titleCl" [(ngModel)]="model.titleCl" #titleCl="ngModel"class="form-control fondo-verdepastel" onblur="this.placeholder = this.value ? '' : 'Identificação da boa prática'" onfocus="this.placeholder=''" placeholder="Identificação da boa prática" style="border: solid #a4e6fc 1px; color: #1b1464; text-align: center;" required></textarea>
                <div *ngIf="titleCl.invalid && (titleCl.dirty || titleCl.touched)"
                    class="alert alert-danger">
                    <div *ngIf="titleCl.errors.required">
                        Identificação da boa prática obrigatório.
                    </div>
                    <div *ngIf="titleCl.errors.minlength">
                        Identificação da boa prática muito curto
                    </div>
                </div>
                </div>
                <div class="form-group col-xs-12 col-lg-12">
                <div class="tablero fondo-verdepastel">Compromisso ao qual está vinculada</div>
                <select  name="idCommitmentCl" [(ngModel)]="model.idCommitmentCl" #idCommitmentCl="ngModel"  class="form-control fondo-verdepastel">
                <option [ngValue]="default" selected disabled hidden>Selecione ao menos uma ação</option>
                <ng-container *ngFor="let comm  of commitments ; let i = index"   >
                    <option selected disable value="{{comm.id}}" class="opcion">{{comm.label}}</option>
                </ng-container>
                </select>
                </div>
                <!--div class="form-group col-xs-12 col-lg-12">
                <div class="tablero fondo-verdepastel ">Ação a qual está vinculada</div>
                <select name="idActionCl" [(ngModel)]="model.idActionCl" #idActionCl="ngModel" class="form-control fondo-verdepastel">
                <option [ngValue]="default" selected disabled hidden>Selecione um Ação</option>
                <ng-container *ngFor="let action  of actionType ; let i = index"   >
                    <option selected disable value="{{action.id}}" class="opcion">{{action.name}}</option>
                </ng-container>
                </select>
                </div-->
                <div class="form-group col-xs-12 col-sm-12">
                <div class="tablero fondo-verdepastel">Descrição da prática</div>
                <textarea name="DescriptionCl" [(ngModel)]="model.DescriptionCl" #DescriptionCl="ngModel"  type="text" required minlength="10" class="form-control fondo-verdepastel" onblur="this.placeholder = this.value ? '' : 'Descrição da prática'" onfocus="this.placeholder=''"  placeholder="Descrição da prática" style="border: solid #a4e6fc 1px; color: #1b1464; text-align: center;" ></textarea>
                <div *ngIf="DescriptionCl.invalid && (DescriptionCl.dirty || DescriptionCl.touched)"
                    class="alert alert-danger">
                    <div *ngIf="DescriptionCl.errors.required">
                        Descrição da prática obrigatório.
                    </div>
                    <div *ngIf="DescriptionCl.errors.minlength">
                        Descrição da práticamuito curto
                    </div>
                </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12">
                <div class="tablero fondo-verdepastel">Principais benefícios gerados</div>
                <textarea id="BenefitsCl" name="BenefitsCl" [(ngModel)]="model.BenefitsCl" #BenefitsCl="ngModel"  class="form-control fondo-verdepastel" minlength="10" onblur="this.placeholder = this.value ? '' : 'Principais benefícios gerados'" onfocus="this.placeholder=''" placeholder="Principais benefícios gerados" style="border: solid #a4e6fc 1px; color: #1b1464; text-align: center; margin:0px auto;" required ></textarea>
                <div *ngIf="BenefitsCl.invalid && (BenefitsCl.dirty || BenefitsCl.touched)"
                    class="alert alert-danger">
                    <div *ngIf="BenefitsCl.errors.required">
                        Principais benefícios gerados obrigatório.
                    </div>
                    <div *ngIf="BenefitsCl.errors.minlength">
                        Principais benefícios gerados da práticamuito curto
                    </div>
                </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12">
                <div class="tablero fondo-verdepastel">Principais desafios na implementação</div>
                <textarea name="ChallengesCl" [(ngModel)]="model.ChallengesCl" #ChallengesCl="ngModel"  type="text"  minlength="10"  class="form-control fondo-verdepastel" onblur="this.placeholder = this.value ? '' : 'Principais desafios na implementação'" onfocus="this.placeholder=''"  placeholder="Principais desafios na implementação" style="border: solid #a4e6fc 1px; color: #1b1464; text-align: center; margin:0px auto;" required></textarea>
                <div *ngIf="ChallengesCl.invalid && (ChallengesCl.dirty || ChallengesCl.touched)"
                    class="alert alert-danger">
                    <div *ngIf="ChallengesCl.errors.required">
                        Principais desafios obrigatório.
                    </div>
                    <div *ngIf="ChallengesCl.errors.minlength">
                        Principais desafios práticamuito curto
                    </div>
                </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12">
                <div class="tablero fondo-verdepastel">Outras informações relevantes</div>
                <textarea name="extraInfoCl" [(ngModel)]="model.extraInfoCl" #extraInfoCl="ngModel"   class="form-control fondo-verdepastel" onblur="this.placeholder = this.value ? '' : 'Outras informações relevante'" onfocus="this.placeholder=''" placeholder="Outras informações relevante" style="border: solid #a4e6fc 1px; color: #1b1464;  text-align: center; margin:0px auto;" ></textarea>
                </div>
                <br>
                <br>
                <button style="margin-top: 40px;" type="submit" class="magenta_btn"  form="formulario" >Compartilhe <span class="glyphicon glyphicon-menu-right flecha"></span></button>
                </form>
            </div>
        </div>
    </div>
</div>