<div class="introduccion">
        <h2 class="titulo-principal color-azulmenta"><span class="logo-auto">
                <svg class="icono_monitoreo" viewBox="0 0 20 20">
                        <use xlink:href="assets/images/sprites.svg#auto_logo"></use>
                </svg>
            </span>Selecione um clube</h2>
        <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed ligula sit amet elit elementum interdum. Nulla eu dapibus augue. Cras quis aliquam odio. Nunc vel ipsum in erat sollicitudin pretium.</p>
</div>     
<ngx-loading [show]="loading" ></ngx-loading>

<div id="print-area">

    <div class="formulario-registro formulario-filtro">
        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <select (change)="changePlan($event)" name="uf" class="form-control fondo-verdepastel" >
                  <option selected disable value="0" class="opcion">Club</option>
                  <option  *ngFor="let item of clubs" value="{{ item.id }}">{{ item.name }}</option>
            </select>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
    </div>
    <br>
    <div class="autodiagnostico-caso" *ngIf="graphs && idClub > 0">
        <div *ngFor="let graph of graphs ; let i = index" class="row">
            <div *ngIf="i == 0; else elseBlock">
                <h3 class="titulo-secundario centro color-blanco fondo-azulauxiliar">{{graph.name}}</h3>
                <div class="">
                    <div class="contenedor-grafica-principal">
                        <div class="col-xs-10 col-sm-12 col-md-5 col-lg-4">
                            <canvas baseChart  
                                [data]=  "graph.data.pie.dataset"
                                [colors]="doughnutChartColors"
                                [options]="pieChartOptions"
                                [labels]="pieChartLabels"
                                [chartType]="pieChartType"
                                [legend]="pieChartLegend"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">  
                            </canvas>
                        </div>
                        <div class="col-xs-10 col-sm-12 col-md-3 col-lg-3">
                            <div class="leyenda">
                                <div class="cuadro-leyenda boa"></div><p class="texto-leyenda">Boa Prática</p>
                            </div>
                            <div class="leyenda">
                                <div class="cuadro-leyenda aprimorada"></div><p class="texto-leyenda">Prática a ser aprimorada</p>  
                            </div>
                            <div class="leyenda">
                                <div class="cuadro-leyenda nao"></div><p class="texto-leyenda">Prática Não recomendável</p>   
                            </div>
                            <div class="leyenda">
                                    
                            </div>
                            <div class="leyenda">
                                <div class="cuadro-leyenda insatisfactoria"></div><p class="texto-leyenda">Prática insatisfactoria ou inexistente</p> 
                            </div>
                        </div>
                        <div class="col-xs-10 col-sm-12 col-md-4 col-lg-4">
                            <canvas baseChart
                                [datasets]="graphsPaint[i]"
                                [labels]="barChartLabels[i]"
                                [options]="barChartOptionsSide"
                                [legend]="barChartLegend"
                                [colors]="barChartColors"
                                [chartType]="lineChartType"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                    </div>
                </div>
                <h3 class="titulo-secundario centro color-blanco fondo-azulauxiliar">RESULTADOS POR TEMAS</h3>
            </div>
            
            <ng-template #elseBlock>
                <div class="row tema-unitario">
                    <div class="col-xs-10 col-sm-12 col-md-4 col-lg-7">
                        <div class="agrupar">
                            <p>Tema: {{i}}</p>
                            <p class="texto-unitario">{{graph.name}}</p>
                        </div>
                    </div>           
                    <div class="col-xs-10 col-sm-12 col-md-8 col-lg-5">
                        
                            <canvas baseChart height="120"
                                [datasets]="graphsPaint[i]"
                                [labels]="barChartLabels[i]"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [colors]="barChartColors"
                                [chartType]="barChartType"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                            </canvas>
                        
                    </div>
                </div>
            </ng-template>
        </div>
    </div>

</div>

<div *ngIf="graphs">
    Última atualização {{maxDate}}    
    <br/>
    <br/>
    <a (click)="printPDF()" class="print-link"> <i class="fa fa-print"></i> Imprimir</a>
</div>

