<div class="admin-auto">

  <div class="introduccion">
    <h2 class="titulo-principal color-azulmenta ">
      <span class="logo-auto azule">
        <svg class="flecha-abajo " viewBox="0 0 20 20">
          <use xlink:href="assets/images/sprites.svg#auto_logo">
          </use>
        </svg>
      </span><inline-editor type="text" [(ngModel)]="content.title"  name="title" size="35"></inline-editor></h2>
    
    <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11 alinear-izquierda">
        <!-- <div [froalaEditor]="edConfig" [(ngModel)]='content.body'></div> -->
        <app-ngx-editor [(ngModel)]="content.body"  name="body" size="135"></app-ngx-editor>
        
    </div>
    <input type="hidden" [(ngModel)]='content.id' id="idContent" />
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 final">
        <a (click)=saveContent() class="guardar-btn">SALVAR</a>
    </div>
    <hr class="divisor-azul">
  </div>
  
  <div class="controles">
    <h4 class="titulo-terciario centro color-grismedio">ESCOLHER PARA EDITAR</h4>
      <div class="numeros">
        <ng-pagination [(ngModel)]="currentPage" [boundaryLinks]="false" (pageChanged)="pageChanged($event)"></ng-pagination>
      </div>
  </div>

  <div class="bloque">
    <h4 class="titulo-relleno centro">{{ titleSection }}</h4>
    <div class="bloque-introduccion">
      <p class="parrafo color-grismedio">{{ descriptionSection }}</p>
    </div>
    <div class="bloque-borde" *ngFor="let item of section; let i = index">
      <div class="circulo">{{ i + 1 }}</div>
      <span class="parrafo color-azulprofundo editar-pregunta">
        <inline-editor type="text" [(ngModel)]="item.question" (onSave)="saveEditable(item)"  name="title" size="45"></inline-editor>
      </span>
      <div class="opciones">
        <p class="opcion" *ngFor="let anw of item.answers;"><inline-editor type="text" [(ngModel)]="anw.label" (onSave)="saveAnswEditable(anw)"  name="title" size="45"></inline-editor></p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 final">
    <a (click)=saveAutodiagnostic() class="guardar-btn">SALVAR</a>
  </div>
</div>