<div class="menu-lateral">
    <div class="datos-club">
      <div>
          <img class="jbjl" src="assets/images/jljb_mini.png" alt="Jogue bem jogue limpo">
      </div>
      <div>
        <div class="nombre-club">
            <p class="nombre color-azulmedio">Unicef<br>Administrador</p>
            <a onclick="$('.opciones-club').slideToggle();" class="indicador">
                <svg class="flecha-abajo" viewBox="0 0 8 4"><use xlink:href="assets/images/sprites.svg#flecha-abajo"></use></svg>
            </a>
        </div>
        <div class="opciones-club">
            <a [routerLink]="['/edit_profile']" class="color-magenta">Editar Cadastro do Clube</a>
            <a class="color-azulmenta">Salir</a>
        </div>
      </div>
    </div>
    <div class="seccion" routerLinkActive="activo">
        <a class="categoria" [routerLink]="['/account/clubs']" >
            <span class="titulo color-azulauxiliar">Clubes</span>
            <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
        </a>
    </div>
    <div class="seccion" (click)="sections=!sections" >
        <a class="categoria">
            <span class="titulo color-azulauxiliar sub2">Gerenciar Seções <br> <p class="subparrafo"> Escolha a seção da plataforma que deseja gerenciar.</p></span>
            <span class="flecha" [ngClass]="{active:sections}"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
        </a>
    </div>

    <div *ngIf="sections">
        <div class="seccion" routerLinkActive="activo">
            <a class="categoria" [routerLink]="['/account/home']">
                <span class="titulo color-azulauxiliar sub1">Home</span>
                <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
            </a>
        </div>
        <div class="seccion" routerLinkActive="activo">
            <a class="categoria" [routerLink]="['/account/program']">
                <span class="titulo color-azulauxiliar sub1">Programa</span>
                <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
            </a>
        </div>
        <div class="seccion" routerLinkActive="activo">
            <a class="categoria" [routerLink]="['/account/resources']">
                <span class="titulo color-azulauxiliar sub1">Centro de Recursos</span>
                <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
            </a>
        </div>
        <div class="seccion" routerLinkActive="activo">  
            <a class="categoria" [routerLink]="['/account/autodiagnostic']">
                <span class="titulo color-azulauxiliar sub1">Autodiagnóstico</span>
                <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
            </a>
        </div>
        <div class="seccion" routerLinkActive="activo">  
                <a class="categoria" [routerLink]="['/account/recommendations']">
                    <span class="titulo color-azulauxiliar sub1">Orientações</span>
                    <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
                </a>  
        </div>
        <div class="seccion" routerLinkActive="activo">
            <a class="categoria" [routerLink]="['/account/plan']">
                <span class="titulo color-azulauxiliar sub1">Plano de Ações e Metas</span>
                <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
            </a>
        </div>
        <div class="seccion" routerLinkActive="activo">
            <a [routerLink]="['/account/material']" class="categoria">
                <span class="titulo color-azulauxiliar sub1">Materiais de Apoio</span>
                <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
            </a>
        </div>
        <div class="seccion" routerLinkActive="activo">
            <a class="categoria" [routerLink]="['/account/monitoring']">
                <span class="titulo color-azulauxiliar sub1">Painel de Monitoramento</span>
                <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
            </a>
        </div>
        <div class="seccion" routerLinkActive="activo">
            <a class="categoria" [routerLink]="['/account/bank']">
                <span class="titulo color-azulauxiliar sub1">Banco de Boas Práticas</span>
                <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
            </a>
        </div>
        <div class="seccion" routerLinkActive="activo">  
            <a class="categoria" [routerLink]="['/account/autodiagnostic_result']">
                <span class="titulo color-azulauxiliar sub1">Autodiagnóstico do Clubes</span>
                <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span>
            </a>
        </div>
    </div>
    
</div> 