<div class="container">
  <nav class="navbar menu-navegacion">
      <ul class="nav navbar-nav ">
          <li><a class="color-azulmedio" [routerLink]="['/jogue_limpo/program']" routerLinkActive="activo">PROGRAMA</a></li>
          <li><a class="color-azulmedio" [routerLink]="['/autodiagnostic']" routerLinkActive="activo">Autodiagnóstico</a></li>
          <li><a class="color-azulmedio" [routerLink]="['/jogue_limpo/resource-center']" routerLinkActive="activo">CENTRO DE RECURSOS</a></li>
          <li *ngIf="isLogged()"><a class="color-azulmedio" [routerLink]="['/jogue_limpo/minha-conta']" routerLinkActive="activo">MINHA CONTA</a></li>
      </ul>
  </nav> 
</div>

