<footer class="pie">
    <div class="container">
           
        <div class="col-xs-12 col-sm-4 col-md-4 .col-lg-4">
            <p class="empresa">Contato:</p>
            <a href="mailto:info@joguelimpojoguebem.com.br">info@joguelimpojoguebem.com.br</a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 .col-lg-4">
            <ng-container *ngFor="let logo of logos_cont;">
                <img class="img-responsive imagen-oscura" src="{{ urlApi }}{{logo.value}}" title="{{logo.title}}">
            </ng-container>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 .col-lg-4">
            
            <a class="logo-universidade" href="http://universidadedofutebol.com.br/" target="_blank"><img class="img-responsive" src="assets/images/logo_universidade.svg" alt="Logo Universidade do futebol"></a>
            <a class="logo-unicef" href="https://www.unicef.org/brazil/pt/" target="_blank"><img class="img-responsive" src="assets/images/logo_unicef.svg" alt="Logo UNICEF"></a>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 zav">
            <p style="position: relative; top: -40px; margin-bottom: -130px;">Termos e Condições <span class="punto"> • </span>  ©2017</p>
            </div>
        </div>
    </div>
    <!--https://www.youtube.com/watch?v=I317BhehZKM-->
</footer>
