<div class="action-circle action-circle-s">
	<div class="content-d">
		<div>Para visualizar esta secção exige que estão inscritos no programa.</div>
		<a href="javascript://">Você está interessado no programa?</a>
	</div>
</div>
<div id="login" class="collapse login" [ngClass]="{'in': passwordfields }" *ngIf="!loggedIn">
	<div class="container-fluid">
		<div class="container">
			<a *ngIf="!loggedIn" class="login-cerrar-btn" data-toggle="collapse" data-target="#login">
				<svg class="icono-cerrar" viewBox="0 0 10 10">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/sprites.svg#icono-cerrar"></use>
				</svg>
			</a>
			<div class="alert" [ngClass]="{'alert-success': alertClass, 'alert-danger': !alertClass}" role="alert" *ngIf="alert != NULL">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				{{alert}}
			</div>
			<form class="formulario-login" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate *ngIf="!restore && !passwordfields">
				<h1 class="titulo-login"> <span class="glyphicon glyphicon-star estrella"></span> inscrever-se <span class="glyphicon glyphicon-star estrella"></span></h1>
				<div class="form-group login-campos" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
					<input class="correo" type="email" name="email" [(ngModel)]="model.email" #email="ngModel" value="" placeholder="E-mail">
				</div>
				<div class="form-group login-campos">
					<input class="contrasena" type="password" name="contrasena" [(ngModel)]="model.password" #password="ngModel" value="" placeholder="Senha">
				</div>
				<button type="submit" class="btn btn-default enviar-btn">Entrar <span class="glyphicon glyphicon-menu-right flecha"></span></button>
				<div class="form-group">
					<label><input type="checkbox" name="guardar">  Manter conectado</label>
				</div>
				<div class="form-group">
					<span class="recordar" (click)="showRestore()">Esqueceu a senha?</span>
				</div>
				<a *ngIf="!loggedIn" class="recordar" type="button"  (click)="closedLogin()"   [routerLink]="['/register']"  ><em>Ainda não tem cadastro? Cadastre-se aqui</em></a>
			</form>
			<form class="formulario-login restore form-inline" (ngSubmit)="f.form.valid && restorePassword()" #f="ngForm" *ngIf="restore">
				<h1 class="titulo-login"> <span class="glyphicon glyphicon-star estrella"></span> Redefinir Senha <span class="glyphicon glyphicon-star estrella"></span></h1>
				<div class="form-group restorepassword" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
					<input class="correo form-group" type="email" name="email" [(ngModel)]="model.email" #email="ngModel" value="" placeholder="E-mail">
				</div>
				<div class="form-group mx-sm-3">
					<button type="submit" class="btn btn-default enviar-btn">Redefinir senha<span class="glyphicon glyphicon-menu-right flecha"></span></button>
				</div>
				<div class="form-group col-md-12">
					<span class="recordar" (click)="showRestore()"><i class="fa fa-arrow-left"></i>Volte ao login</span>
				</div>
			</form>

			<form class="formulario-login restore form-inline" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" *ngIf="passwordfields">
				<h1 class="titulo-login"> <span class="glyphicon glyphicon-star estrella"></span> Redefinir Senha <span class="glyphicon glyphicon-star estrella"></span></h1>
				<div class="form-group restorepassword">
					<input class="contrasena form-control" type="password" name="contrasena" [(ngModel)]="model.password" #password="ngModel" value="" placeholder="Nova senha">
				</div>
				<div class="clearfix"></div>
				<div class="form-group restorepassword">
					<input class="contrasena" type="password" name="contrasena" [(ngModel)]="model.verifypassword" #verifypassword="ngModel" value="" placeholder="Confirmar nova senha">
				</div>
				<div class="form-group col-xs-12">
					<button type="submit" class="btn btn-default enviar-btn"> Redefinir senha <span class="glyphicon glyphicon-menu-right flecha"></span></button>
				</div>
				<div class="form-group col-md-12">
					<span class="recordar" (click)="showLogin()"><i class="fa fa-arrow-left"></i>Volte ao login</span>
					<br><br>
				</div>
				
			</form>

			

		</div>
	</div>
</div>
<div class="loggedIn" *ngIf="loggedIn && user">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="collapse navbar-collapse">
				<div class="container">
					<ul class="nav navbar-nav navbar-right">
						<li><a [routerLink]="['jogue_limpo/minha-conta']">Bem-vindo <b>{{user.contact_name}}</b></a></li>
						<li (click)="logout()" ><button class="btn btn-primary-outline" >Sair</button></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</div>
<header class="cabezote container">
	<div class="primario col-xs-12 col-sm-6 col-md-8 col-lg-8">
			<a class="logo-jogue" [routerLink]="['/home']"><img class="img-responsive" src="assets/images/logo_jogue.png"  alt="Logo JOGUE LIMPO, JOGUE BEM"></a>
	</div>
	<div class="secundario col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="iniciativa">Uma iniciativa de:</div>
		<a class="logo-unicef" href="https://www.unicef.org/brazil/pt/" target="_blank"><img class="img-responsive" src="assets/images/logo_unicef.svg" alt="Logo UNICEF"></a>
		<a class="logo-universidade" href="http://universidadedofutebol.com.br/" target="_blank"><img class="img-responsive" src="assets/images/logo_universidade.svg" alt="Logo Universidade do futebol"></a>
	</div>
</header>
<div class="container" >
	<button *ngIf="!loggedIn" class="iniciar-sesion" data-toggle="collapse" data-target="#login"  type="button" style="background-color: #d2155b;"><em>Iniciar Sessão</em></button> 
</div>