<div class="autodiagnostico general">
  <!-- MENU GENERAL -->
  <app-menu></app-menu>

 <div class="container">
     <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
         <!-- MENU LATERAL -->
         <app-admenu></app-admenu>
         </div>

         <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 contenido">
           <router-outlet></router-outlet>
         </div>
     </div>
 </div>
</div>
