  <div class="general admin-recursos" *ngIf="titleContent?.title">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenido">
     <div class="introduccion">
          <h2 class="titulo-principal color-azulmenta"> 
            <span class="logo-auto">
              <svg class="icono_materiais" viewBox="0 0 19 21">
                  <use xlink:href="assets/images/sprites.svg#icono_materiais"></use>  
              </svg>
            </span>
            <inline-editor type="text" [(ngModel)]="titleContent.title" (onSave)="saveTitleContent()" name="titleContent.title" size="35"></inline-editor>
          </h2>

          <p class="parrafo">Para agregar novos arquivos à seção de Materiais de Apoio, preencha o campo abaixo e selecione o(s) arquivo(s) que deseja incluir.</p>
        </div>
        <div class="bloque superior">
          <div class="col-md-2 col-lg-2"></div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <form id="form-ri" class="formulario-registro" (ngSubmit)="f.form.valid && save()" #f="ngForm">
              <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input class="form-control fondo-verdepastel" type="text" name="title" placeholder="Nome do arquivo" required="{{ required.title }}" [(ngModel)]="resourceForm.title" onblur="this.placeholder = this.value ? '' : 'Nome do clube'" onfocus="this.placeholder=''" #title="ngModel">
                <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                    <div *ngIf="title.errors.required">
                      O título é obrigatório.
                    </div>
                </div>
              </div>
              <div class="content-file">
                  <input type="file" name="file"  id="file" value="" [(ngModel)]="resourceForm.file" #file="ngModel" required="{{ required.file }}"  class="inputfile" />
                  <label for="file" class="boton-azul boton-cargar-arquivo">Selecionar Arquivo <span class="flecha"><svg class="flecha-derecha" viewBox="0 0 4 8"><use xlink:href="assets/images/sprites.svg#flecha-derecha"></use></svg></span></label>
                  <div *ngIf="file.invalid && (file.dirty || file.touched)" class="alert alert-danger">
                    <div *ngIf="file.errors.required">
                      Arquivo é necessário.
                    </div>
                  </div>
              </div>   
              <button type="submit" [disabled]="!f.form.valid" class="magenta_btn">Enviar Arquivo</button>
              <span class="color-grisclaro sugerencia">Máximo 20MB</span>
            </form>
          </div>
          <div *ngIf="isLoading" class="bloque medio">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
              </div>
          </div>
        </div>

        <div class="bloque inferior">
          <h3 class="titulo-secundario color-azul-basico">DOCUMENTOS</h3>

          <div class="editar-seccion materiais"  *ngFor="let item of content; let i = index">
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
              <p class="titulo-medio color-azul-medio">
                <inline-editor #myInlineEditor type="text" [(ngModel)]="item.title" (onSave)="saveAnswEditable(item)" name="title" size="45" (focusout)="myInlineEditor.edit({editing: false})"></inline-editor>
              </p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 menu-editar">
              <a (click)="delete(item.id)" class="boton-editar eliminar"><svg class="boton-vector"><use xlink:href="assets/images/sprites.svg#boton-eliminar"></use></svg></a>
            </div>
          </div>

          

        </div>
  </div>
  </div>

